{%- if alarm %}
<link rel="stylesheet" href="/streets/inc/leaflet.css" />
<link rel="stylesheet" href="/streets/inc/Control.MiniMap.css" />
<script type="text/javascript" language="javascript" src="/streets/inc/leaflet.js"> </script>
<script type="text/javascript" language="javascript" src="/streets/inc/leaflet.ext.js"> </script>
<script type="text/javascript" language="javascript" src="/streets/inc/leaflet.emonitormarkers.js"> </script>
<script type="text/javascript" language="javascript" src="/streets/inc/leaflet.utils.js"> </script>
<script type="text/javascript" language="javascript" src="/streets/inc/leaflet.button.js"> </script>
<script src="/streets/inc/Control.MiniMap.js" type="text/javascript"></script>
<style>
    .leaflet-control-attribution{display:none}
    .leaflet-bottom .leaflet-control{margin-bottom:25px !important}
    .osm_div{position:absolute;top:0;left:0;bottom:0;right:0;background-color: #000000;}
</style>

<div class="osm_div" id="map"> </div>

<script>
    var map = new L.Map('map', {zoom:12, doubleClickZoom:false, zoomControl: false});
    new L.EmonitorMarkers().addTo(map); /* marker extension */
    var startzoom = 18;
    
    var MyMarker = L.Icon.extend({options:{shadowUrl: '/img/marker-shadow.png', iconAnchor:[12, 41], popupAnchor:[0, -42]}});
    var redmarker = new MyMarker({iconUrl:'/img/marker_red.png'});
    var orangemarker = new MyMarker({iconUrl:'/img/marker_orange.png'});
    var yellowmarker = new MyMarker({iconUrl:'/img/marker_yellow.png'});
    var colorcode = [yellowmarker, orangemarker, redmarker];

    cloudmade = new L.TileLayer('{{ alarm.getMap().tileserver }}', {minZoom: 12, maxZoom: 18});
    mml = new L.TileLayer('{{ alarm.getMap().tileserver }}', {minZoom: 10, maxZoom: 14});
    {%- if alarm.get('id.object') not in ['', '0'] %}
        map.setView(new L.LatLng({{ alarm.object.lat }}, {{ alarm.object.lng }}), startzoom).addLayer(cloudmade);
    {%- else %}
        map.setView(new L.LatLng({{ alarm.get('lat') }}, {{ alarm.get('lng') }}), startzoom).addLayer(cloudmade);
    {%- endif %}
    new L.Control.MiniMap(mml, { toggleDisplay: true,  zoomLevelFixed: 14}).addTo(map); /* minimap extension*/

    {%- for item in alarm.getAdditionalLayers() %}
        {%- if item['parameters']['tileserver']=='1' %}
            var l_{{ item['name'] }} = new L.TileLayer('/tileserver/{{ item['name'] }}/{z}/{x}/{y}', {minZoom: 12, maxZoom: 18, trackResize:true});
            map.addLayer(l_{{ item['name'] }});
        {%- endif %}
    {%-  endfor %}

{%- if alarm.housenumber %}
    var coord = {'lat':[], 'lng':[]};
    {%- for p in alarm.housenumber.points %}
        coord['lat'].push({{ p[0] }});
        coord['lng'].push({{ p[1] }});
    {%- endfor %}
    map.addHouseNumber(coord);
{%- elif alarm.get('marker')==1 %}
    map.addMarker({{ alarm.get('lat') }}, {{ alarm.get('lng') }}, 1, false);
{%- elif alarm.street.lat %}
    map.addMarker({{ alarm.street.lat }}, {{ alarm.street.lng }}, 1, false);
{%- endif %}
</script>
{%- endif %}
