{% extends "admin.html" %}

{% block style %}
<style>
    fieldset { border: 1px solid silver; padding: 5px; margin-bottom: 20px; }
    legend { font-size: 14px; border-width: 0; padding: 5px; width: auto; }
</style>
{% endblock %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <h2 xmlns="http://www.w3.org/1999/html">{{ _('mapitems.header.edit') }}</h2>
    <form method="post">
        <p>
            <label>{{ _('mapitems.name') }}:<br/>
                <input type="text" name="edit_name" value="{{ itemtype.name }}" style="width:100%"/>
            </label>
        </p>
        <p>
            {{ _('mapitems.cities') }}:<br/>
            {%- for city in cities %}
            <label>
                <input type="checkbox" name="edit_cityid" value="{{ city.id }}"{% if city.id in itemtype.cities %} checked="checked"{% endif %}/> {{ city.name }}
            </label>
            {%- endfor %}
        </p>
        <p>
            <label>{{ _('mapitems.keys') }}:<br/>
                <textarea name="edit_keys" style="width:100%; min-height:100px;">{{ itemtype.key|join("\r\n") }}</textarea><br/>
                <small>{{ _('mapitems.keys.info') }}</small>
            </label>
        </p>
        <p>
            <label style="width: auto;padding-right:40px;">
                <input type="checkbox" name="edit_tileserver" value="1" {% if itemtype.parameters.tileserver=='1' %} checked="checked"{% endif %}/>
                {{ _('mapitems.tileserver') }}
            </label><button type="button" name="action" onclick="buildTiles()"><i class="fa fa-picture-o"></i> {{ _('mapitems.tileserver.build') }}</button>
            <br/>
            <small>{{ _('mapitems.tileserver.info') }}</small><br/>
        </p>
        <p>
            <label>{{ _('mapitems.parameter') }}:<br/>
            <select name="edit_layout" onchange="changeDefinition()" style="width: 50%;">
                <option value="">{{ _('itemtype.noparams') }}</option>
                {%- for layouter in layouters %}
                <option value="{{ layouter.getName() }}"{% if itemtype.parameters.layout==layouter.getName() %} selected="selected"{% endif %}>{{ _('mapitems.params.'+layouter.getName()) }}</option>
                {%- endfor %}
            </select><br/>
            <small>{{ _('mapitems.parameters.info') }}</small>
            </label>
        </p>
        <fieldset>
            <legend>{{ _('mapitems.definitionparams') }}</legend>
            <p>
                <label>{{ _('mapitems.filter') }}:<br/>
                    <input type="text" name="edit_filter" value="{{ itemtype.filter }}" style="width:100%"/><br/>
                    <small>{{ _('mapitems.filter.info') }}</small>
                </label>
            </p>
            <p>
                <label>{{ _('mapitems.attributes') }}:<br/>
                    <textarea name="edit_attributes" style="width:100%;min-height:100px;">{{ itemtype.attributes|join("\r\n") }}</textarea><br/>
                    <small>{{ _('mapitems.attributes.info') }}</small>
                </label>
            </p>
            <input type="hidden" name="edit_itemtype" value="{{ itemtype.itemtype }}"/>
        </fieldset>
        <p>
            <button type="submit" name="action" value="updateitemtypes" class="save"><i class="fa fa-check"></i> {{ _('mapitems.save') }}</button>
            <button type="submit" name="action" value="cancel" class="cancel"><i class="fa fa-times"></i> {{ _('mapitems.cancel') }}</button>
        </p>
        <input type="hidden" name="form_id" value="admin.mapitem.edit"/>
    </form>
{% endblock %}

{% block script_end %}
    {{ super() }}
    function buildTiles(){
        $.ajax({ type : "POST", url : "/admin/data/mapitems?action=buildtiles&type={{ itemtype.name }}",
            success: function(result) {
                console.log(result);
            }
        });
    }

    var layouter = [];
    layouter[''] = {"itemtype": '', "filter": '', "attributes": ""};
    {%- for layouter in layouters %}
    layouter['{{ layouter.getName() }}'] = {"itemtype": '{{ layouter.itemtype|safe }}', "filter": '{{ layouter.filter|safe }}', "attributes": "{{ layouter.attributes|join('\\n') }}"};
    {%- endfor %}

    function changeDefinition(){
        n = $('select[name=edit_layout]').val()
        $('input[name=edit_itemtype]').val(layouter[n].itemtype);
        $('input[name=edit_filter]').val(layouter[n].filter);
        $('textarea[name=edit_attributes]').val(layouter[n].attributes);
    }
{% endblock %}
