
BABEL_DEFAULT_LOCALE = 'de'
BABEL_DEFAULT_TIMEZONE = 'UTC'

DEBUG = False
TESTING = False
LOGLEVEL = 10 # 10: debug, 20:info, 30: warning, 40: error, 50: critical

PORT = 80

SQLALCHEMY_DATABASE_URI = 'sqlite:///emonitor.db'
cachetimeout = 300

TILE_MISSING = 'load'  # load|none
ADMIN_DEFAULT_PASSWORD = 'admin'

PATH_DATA = './data/'
PATH_INCOME = './data/income/'
PATH_DONE = './data/done/'
PATH_TMP = './data/tmp/'
PATH_TILES = './data/tiles/'