
BABEL_DEFAULT_LOCALE = 'de'
BABEL_DEFAULT_TIMEZONE = 'UTC'

DEBUG = True
TESTING = False

PORT = 80

SQLALCHEMY_DATABASE_URI = 'sqlite:///emonitor.db'
cachetimeout = 300

TILE_MISSING = 'load'  # load|none

PATH_DATA = './data/'
PATH_INCOME = './data/income/'
PATH_DONE = './data/done/'
PATH_TMP = './data/tmp/'
PATH_TILES = './data/tiles/'