
body, html{height:100%;margin:0;padding:0;color: #000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; text-align:left; font-size:11px;}
a, a:visited{color:#B40431;text-decoration:none;}
a:hover{text-decoration:underline;}
a.icon{font-size:16px;color:#333!important;}
a.icon:hover{color:#000000!important;}
label{font-weight: normal!important}

textarea{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;}

div.ui-layout-toggler:hover{background-color:#333;}
div.ui-layout-north{background-color: #ddd;width:100%;margin:0;padding:0;border-width:0 !important;overflow:hidden;}
div.ui-layout-north div.header_links{position:absolute;top:15px;right:35px;}
div.ui-layout-north div.header_links a{color:black;}
div.user{position:absolute;right:10px;top:13px;}
div.user a, div.user a img{border-width:0;}
div.user a:hover{text-decoration:none;}

div.ui-layout-north div.navigation{position:absolute;bottom:6px;}
div.ui-layout-north div.navigation a{color:black;text-transform:uppercase;border:1px solid #ddd;padding:5px 20px;text-shadow: 1px 1px 0 #f2f2f2;}
div.ui-layout-north div.navigation a:hover{border:1px solid #333;background-color:#fff;text-decoration:none;}
div.ui-layout-north div.navigation a.current{background-color:#333;color:#fff;border-color:#333;text-shadow:none;}
div.ui-layout-north div.navigation a.current:hover{background-color:#000;border-color:#000;}

div.ui-layout-center{border-bottom:0 !important;}
div.ui-layout-east{border-right:0 !important;}

div.maincontainer{margin:0;position:relative;overflow:hidden;height:100%;}

div.content{margin:10px;}
div.ui-layout-south{width:100%;background-color:#333;position:fixed;bottom:0;left:0;height:15px;border:0 !important;}

div.autocomplete-suggestions{background-color:#fff;border:1px solid #000;cursor:pointer;width:99%;overflow:auto;}
div.autocomplete-suggestion{padding:5px;}
div.autocomplete-suggestion:hover{background-color:#ddd;}

div.headrow{background-color:#ddd;font-weight:bolder;overflow:hidden;padding:10px 4px;}
div.headcell{float:left;}
div.row{position:relative;overflow:hidden;padding:1px 4px;background-color:#fff;border:1px solid silver;border-top:0;}
div.activealarm{background-color:#fff;border-top:1px solid #fff;}
div.row:hover{background-color:#fff;cursor:default;}
div.activealarm:hover{background-color:#ddd;border-top:1px solid #fff;}
div.rowcell{float:left;margin-top:4px;}
div.rownoentry{position:relative;overflow:hidden;padding:1px 4px;background-color:#fff;border:1px solid silver;border-top:0;min-height:40px;}
.row a img{border:0;}

div.overlay{position:fixed;top:0;left:0;right:0;bottom:0;z-index:3;display:none;}
div.overlay div.overlay_back{width:100%;height:100%;background-color:#000;opacity: 0.5; -moz-opacity: 0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);}
div.overlay div.popup{display:block;position:absolute;width:600px;top:20%;left:50%;margin-left:-300px;border:1px solid silver;background-color:#fff;z-index:4;}
div.popup_close{position:absolute;top:-10px;right:-10px;}
div.popup_close a img{border:0;}

div.alarmprio3{width:5px;background-color:red;position:absolute;top:1px;bottom:1px;}
div.alarmprio2{width:5px;background-color:orange;position:absolute;top:1px;bottom:1px;}
div.alarmprio1{width:5px;background-color:yellow;position:absolute;top:1px;bottom:1px;}

a.button{padding:2px;display:block;}
a.button img{border:0;}
a.button:hover{background-color:silver;}

h1{font-size:18px!important;font-weight:bold;}
h2{font-size:16px!important;font-weight:bold;}
h3{font-size:14px!important;font-weight:bold;}


div.version{background:url(/img/logo.png) no-repeat 0 0 transparent;position:absolute;left:2px; bottom:2px;height:30px;padding-left:30px;}

div.login{text-align:center;width:100%;max-height:99%;overflow:hidden;}
div.login div.container{margin:150px auto 0 auto;text-align:center;width:450px;position:relative;}
div.loginform{width: 400px;border:1px solid silver;margin:auto;position:relative;background: #fff;-moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);}
div.loginversion{position:absolute;bottom:2px;right:2px;color: #ababab;}

.error{ border:1px solid #FF0000; background:#FFE7E7; padding: 10px;margin:20px;}

div.smallmodulesarea{right:0;position:absolute;top:5px}
div.smallmodulesarea button{width:36px;height:25px}

div.user ul { margin:0; padding: 0; list-style: none; cursor: pointer; position: relative; text-align:right;}
div.user ul li { padding: 0.25em 3px 0.3em 15px;}
div.user ul ul { z-index: 200000; display: none; position: absolute; right: 0; bottom: 0;margin: 0 0 1.55em; text-align:right;border:1px solid black;}
div.user .dropdown ul ul { bottom: auto;margin: 1.45em 0 0;}
div.user ul ul li { padding: 0.3em 5px 0.3em 5px;}
div.user ul ul li:hover { background-color: #ababab;}
div.user ul li:hover ul { display: block; background-color: #dedede;z-index: 200000;}

.footer_functions{position:absolute;right:10px;top:2px;color:#fff;}
.footer_functions a{color:#fff;}
.footer_functions a:hover{color:#428bca;}

span#ws i{padding-right:4px;}
