{% extends "admin.html" %}

{% block style %}
    <link rel="stylesheet" href="/monitors/inc/monitors.css" />
{% endblock %}

{% block script %}
    <script>
        function questionDel(){
            return confirm('{{ _('monitors.delquestion') }}');
        }
        function questionDelLayout(){
            return confirm('{{ _('monitorlayouts.delquestion') }}');
        }
    </script>
{% endblock %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{%- macro getTriggerNames(triggernames) %}
    {%- for triggername in triggernames %}
        {%- if '.' in triggername %}
            {{  _('trigger.'+triggername.split('.')[0]+'_sub', sub=triggername.split('.')[-1]) }}{% if not loop.last %},<br/>{% endif %}
        {%- else %}
            {{  _('trigger.'+triggername) }}{% if not loop.last %},<br/>{% endif %}
        {%- endif %}
    {%- endfor %}
{%- endmacro %}

{% block content %}
    <h2>{{ _('monitors.header.overview') }}</h2>
    <p><small>{{ _('monitors.info') }}</small></p>

    {%- if monitors|count==0 %}
    <p class="error">{{ _('monitors.nodefinitionfound') }}</p>
    {%- endif %}

    <form method="post" style="padding-bottom:20px;">
        <div class="headrow">
            <div style="margin-right:70px;margin-left:15px;">
                <div class="headcell" style="width:10%;">{{ _('monitors.client') }}</div>
                <div class="headcell" style="width:20%;">{{ _('monitors.name') }}</div>
                <div class="headcell" style="width:20%;">{{ _('monitors.orientation') }}</div>
                <div class="headcell" style="width:30%;">{{ _('monitors.resolution') }}</div>
                <div class="headcell" style="width:20%;">{{ _('monitors.grid') }}</div>
            </div>
            <button class="add" type="submit" name="action" value="createmonitor" title="{{ _('monitors.addtitle') }}"><i class="fa fa-plus fa-lg"></i></button>
        </div>
        {%- if monitors|count==0 %}
        <div class="rownoentry">
            <p style="text-align:center">{{ _('monitors.nodata') }}</p>
        </div>
        {%- endif %}
        <div id="sortable">
            {%- for monitor in monitors %}
            <div class="row">
                <a href="#" class="morelink" title="{{ _('monitors.detailtitle') }}" onclick="return details({{ monitor.id }}, this)"> </a>
                <div style="margin-right:70px;margin-left:15px;">
                    <div class="rowcell" style="width:10%;text-align:center;"><em>ID</em> {{ monitor.clientid }}</div>
                    <div class="rowcell" style="width:20%;">{{ monitor.name }}</div>
                    <div class="rowcell" style="width:20%;">{{ _('monitors.orientation.'+monitor.orientation|string) }}</div>
                    <div class="rowcell" style="width:30%;">{{ monitor.resolutionx }}x{{ monitor.resolutiony }}</div>
                    <div class="rowcell" style="width:20%;">{{ monitor.formatx }}x{{ monitor.formaty }}</div>
                </div>
                <button type="submit" name="action" value="deletemonitor_{{ monitor.id }}" title="{{ _('monitors.deletetitle') }}" onclick="return questionDel()"><i class="fa fa-trash-o fa-lg"></i></button>
                <button type="submit" name="action" value="editmonitor_{{ monitor.id }}" title="{{ _('monitors.edittitle') }}"><i class="fa fa-pencil fa-lg"></i></button>
            </div>
            <div class="details" style="display:none" id="details_{{ monitor.id }}">
                <div class="subheadrow">
                    <div style="margin-right:70px;margin-left:15px;">
                        <div class="subheadcell" style="width:10%;">&nbsp;</div>
                        <div class="subheadcell" style="width:25%;">{{ _('monitorlayouts.trigger') }}</div>
                        <div class="subheadcell" style="width:35%;">{{ _('monitorlayouts.layout') }}</div>
                        <div class="subheadcell" style="width:30%;">{{ _('monitorlayouts.theme') }}</div>
                    </div>
                    <button class="add" type="submit" name="action" value="createlayout_{{ monitor.id }}" title="{{ _('monitorlayouts.addtitle') }}"><i class="fa fa-plus fa-lg"></i></button>
                </div>
                {%- if monitor.getLayouts()|count==0 %}
                <div class="rownoentry">
                    <p style="text-align:center">{{ _('monitorlayouts.nodata') }}</p>
                </div>
                {%- endif %}
                {%- for layout in monitor.getLayouts() %}
                <div class="subrow">
                    <div style="margin-right:70px;margin-left:15px;">
                        <div class="subrowcell" style="width:10%;"> </div>
                        <div class="subrowcell" style="width:25%;">{{ getTriggerNames(layout.getTriggerNames()) }}</div>
                        <div class="subrowcell" style="width:35%;">
                            <img src="/admin/data/monitors?action=thumb&mimetype=image/png&id={{ layout.id }}" />
                        </div>
                        <div class="subrowcell" style="width:30%;">{{ layout.theme }}</div>
                    </div>
                    <button type="submit" name="action" value="deletemonitorlayout_{{ layout.id }}" title="{{ _('monitorlayouts.deletetitle') }}" onclick="return questionDelLayout()"><i class="fa fa-trash-o fa-lg"></i></button>
                <button type="submit" name="action" value="editmonitorlayout_{{ layout.id }}" title="{{ _('monitorlayouts.edittitle') }}"><i class="fa fa-pencil fa-lg"></i></button>
                </div>
                {%- endfor %}
            </div>
            {%- endfor %}
        </div>
        
        <div class="headrow">
            <small style="float:right;margin-right:50px">{{ _('monitors.itemscount', count=monitors|count) }}</small><br/>
        </div>
        <input type="hidden" name="form_id" value="admin.monitors.overview"/>
    </form>
{% endblock %}

{% block script_end %}
    {{ super() }}
    function details(id, obj){
        $('#details_'+id).toggle();
        if ($(obj).hasClass('expanded')){
            $(obj).removeClass('expanded');
        }else{
            $(obj).addClass('expanded');
        }
        return false;
    }
{% endblock %}