{% for schedjob in schedjobs %}
    <h4>{{ schedjob.name }}</h4>
    <div class="method">
        <br/> - Next Run: {{ schedjob.next_run_time }}
        <br/>{{ schedjob.trigger|safe|rst }}
        <br/><b>{{ schedjob.func.__module__ }}.{{ schedjob.func.__name__ }}({%- for v in schedjob.func.func_code.co_varnames[:schedjob.func.func_code.co_argcount] %}{{ v }}{% if not loop.last %}, {% endif %}{%- endfor %})</b>
        <br/>Parameter:
        <ul>
        {% for key in schedjob.kwargs.keys() %}
            <li>{{ key }} - {{ schedjob.kwargs[key] }}</li>
        {% endfor %}
        </ul>
        {% set args = schedjob.func.func_code.co_varnames[:schedjob.func.func_code.co_argcount] %}
        <ul>
        {% for key in schedjob.args %}
            <li>{{ args[schedjob.args.index(key)] }}: {{ key }}</li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
