{% extends "admin.html" %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <h2 xmlns="http://www.w3.org/1999/html">{{ _('monitors.edit.monitor') }}</h2>
    <form method="post">
        <p>
            <label>{{ _('monitors.clientid') }}:<br/>
                <input type="number" name="edit_clientid" value="{{ monitor.clientid }}" min="1" max="99" style="width:99%" required autofocus/>
            </label>
        <p>
        <p>
            <label>{{ _('monitors.name') }}:<br/>
                <input type="text" name="edit_name" value="{{ monitor.name }}" style="width:99%"/>
            </label>
        <p>
            <label>{{ _('monitors.orientation') }}:<br/>
                <select name="edit_orientation" style="width:99%">
                    {%- for orientation in orientations %}
                    <option value="{{ loop.index0 }}"{%- if monitor.orientation == loop.index0 %} selected="selected"{%- endif %}>{{ _(orientation) }}</option>
                    {%- endfor %}
                </select>
            </label>
        </p>
        <p>
            <label>{{ _('monitors.resolution') }}:<br/>
                <input type="number" name="edit_resolutionx" value="{{ monitor.resolutionx }}" style="width:200px" min="1" required/> x
                <input type="number" name="edit_resolutiony" value="{{ monitor.resolutiony }}" style="width:200px" min="1" required/>
            </label>
        <p>
        <p>
            <label>{{ _('monitors.format') }}:<br/>
                <input type="number" name="edit_formatx" value="{{ monitor.formatx }}" style="width:200px" min="1" required/> x
                <input type="number" name="edit_formaty" value="{{ monitor.formaty }}" style="width:200px" min="1" required/>
                {{ _('monitors.format.info') }}
            </label>
        <p>
        <p>
            <button type="submit" name="action" value="updatemonitors" class="save"><i class="fa fa-check"></i> {{ _('monitors.save') }}</button>
            <button type="button" class="cancel" onClick="history.go(-1);return true;"><i class="fa fa-times"></i> {{ _('monitors.cancel') }}</button>
        </p>
        <input type="hidden" name="edit_id" value="{{ monitor.id }}"/>
        <input type="hidden" name="form_id" value="monitors.update"/>
    </form>
{% endblock %}