<link rel="stylesheet" href="/monitors/inc/monitors.css" />
<style>
    .btn{background-color:transparent!important;border-width:0;}
</style>
<div id="monitors" style="overflow:visible;padding:0; height:100%;margin:10px 0 20px 20px;">
    {% for monitor in monitors %}
    <div class="client_inactive" id="client_{{ monitor.clientid }}">
        <div class="client_id">{{ monitor.clientid }}</div>
        <div class="client_ip" style="font-style:italic">{{ _('monitors.current.notconnected') }}</div>

        <div class="btn-group options" style="position:absolute;top:12px;right:24px;">
            {% if monitor.getLayouts()|count %}
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-gear fa-lg"></i>
            </a>
            <ul class="dropdown-menu pull-right">

                {% for l in monitor.getLayouts() %}
                    <li><a href="#" onclick="return changeMLayout({{ monitor.clientid }}, {{ l.id }})"><i class="fa fa-desktop fa-fw"></i> {% for tr in l.trigger.split(';') %}{{ _('trigger.'+tr) }}{% if not loop.last %}, {% endif %}{%  endfor %}</a></li>
                {% endfor %}
                <li><a href="#" onclick="return changeMLayout({{ monitor.clientid }}, -1)"><i class="fa fa-desktop fa-fw"></i> {{ _('monitor.testpage') }}</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<p style="clear:left;text-align:right;font-size:10px;" id="timestamp"> </p>
 <script>
    var nextrun;
    function refreshPing(){
        $('#timestamp').html(new Date().toString().match(/\d{2}:\d{2}:\d{2}/)[0]);
        clearTimeout(nextrun);
        nextrun = setTimeout(refreshPing, 10000); // 10 seconds
        $.ajax({ type : "POST", url : "/data/monitors?action=ping&format=json",
            success: function(result){
                $.each($('#monitors').children(), function(index, item) {
                    if (result.clients.indexOf(item.id.split('_')[1])==-1){
                        if($(item).hasClass('client')){
                            $(item).removeClass('client').addClass('client_inactive');
                            $(item).find('div.client_ip').html('{{ _('monitors.current.notconnected') }}');
                        }
                    }
                });
            }
        });
        return false;
    }

    $('.options').hover(function() {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });

     var monitorsocket = new WebSocket("ws://"+location.host+"/ws");
     monitorsocket.onopen = function() {
        refreshPing()
     };

     monitorsocket.onmessage = function (e) {
         var data = JSON.parse(e.data);
         if (data.sender == 'monitorserver.clientanswer'){
             if($('#client_'+data.clientid).length==1){
                 $('#client_'+data.clientid).removeClass('client_inactive').addClass('client');
                 var content = data.ip[0]+'<br/>'+data.name;
                 if(data.value[1]){
                    content += ' <small>(ver. ' + data.value[1] + ')</small>';
                 }
                 $('#client_'+data.clientid).find('div.client_ip').html(content);
             }
         }
         return false;
     };

     function changeMLayout(id, layoutid){
       console.log('schange');
        $.ajax({ type : "POST", url : "/data/monitors?action=changelayout&id="+id+"&layoutid="+layoutid,
            success: function(){
                alert('{{ _('monitor.layout.changed') }}');
                return false;
            }
        });
        return false;
    }

</script>