<p>
    <label style="width:100%;position:relative;">
        {{ _('messages.text.content') }}:<br/>
        <textarea name="messages.content" style="width:100%;height:200px;font-family:monospace">{{ message.get('content') }}</textarea><br/>
        <small>{{ _('messages.text.content.info') }}</small>
        <span style="position:absolute;top:0;right:0;"><a href="#" onclick="return showPreview()" title="{{ _('messages.text.preview.title') }}"><i class="fa fa-eye fa-lg"></i></a></span>
    </label>
</p>
<div style="padding-bottom:20px;">
    <span onclick="$('#crest').toggle()" style="cursor:pointer">{{ _('messages.text.crestposition') }} <i class="fa fa-angle-down"></i></span><br/>
    <div id="crest" style="display:none">
        <div style="border:1px solid silver;width:100px;padding:5px;margin-top:5px;border-radius:3px;float:left;">
            <label title="{{ _('messages.position.topleft') }}" style="width:30px;">
                <input type="radio" name="messages.crestposition" value="tl"{%- if message.get('crestposition') == 'tl' %} checked="checked"{%- endif %}> <i class="fa fa-share fa-flip-horizontal"></i>
            </label>
            <label title="{{ _('messages.position.topcenter') }}" style="width:20px;">
                <input type="radio" name="messages.crestposition" value="tc"{%- if message.get('crestposition') == 'tc' %} checked="checked"{%- endif %}>
            </label>
            <label title="{{ _('messages.position.topright') }}" style="width:30px">
                <i class="fa fa-reply fa-flip-horizontal"></i> <input type="radio" name="messages.crestposition" value="tr"{%- if message.get('crestposition') == 'tr' %} checked="checked"{%- endif %}>
            </label>
            <br>
            <label title="{{ _('messages.position.bottomleft') }}" style="width:30px">
                <input type="radio" name="messages.crestposition" value="bl"{%- if message.get('crestposition') == 'bl' %} checked="checked"{%- endif %}> <i class="fa fa-reply fa-flip-vertical"></i>
            </label>
            <label title="{{ _('messages.position.bottomcenter') }}" style="width:20px">
                <input type="radio" name="messages.crestposition" value="bc"{%- if message.get('crestposition') == 'bc' %} checked="checked"{%- endif %}>
            </label>
            <label title="{{ _('messages.position.bottomright') }}" style="width:30px">
                <i class="fa fa-share fa-flip-vertical"></i> <input type="radio" name="messages.crestposition" value="br"{%- if message.get('crestposition') == 'br' %} checked="checked"{%- endif %}>
            </label>
        </div>
        <label title="{{ _('messages.position.none') }}" style="margin:11px 0 20px 5px">
            <input type="radio" name="messages.crestposition" value="no"{%- if message.get('crestposition', settings.get('messages.image.crestpotiion', 'no')) == 'no' %} checked="checked"{%- endif %}> {{ _('messages.image.nonecrest') }}
        </label>
        <div style="clear:left"></div>
    </div>
</div>
<script>
    function showPreview() {
        $.post("/data/messages?action=render", {template: $('textarea[name="messages.content"]').val(), messageid: '{{message.id}}', type: $('#messagetype').val()})
            .done(function(result){
                parent.$('#overlaycontent').html(result);
                parent.$('.overlay').toggle();
            return false;
        });
    }
</script>
