<p>
    <p>
        <label style="width:100%;">
            {{ _('messages.weather.location') }}:<br/>
            <input type="text" name="messages.weather.location" value="{{ message.get('weather.location', settings.get('messages.weather.location')) }}" syle="width:100%;"/>
            <br/><small>{{ _('messages.weather.location.info') }}</small>
        </label>
    </p>
    <p>
        {{ _('messages.weather.icons') }}:<br/>
        <label><input type="radio" name="messages.weather.icons" value="image"{% if message.get('weather.icons', '') in ['image', ''] %} checked="checked"{% endif %}> {{ _('messages.weather.iconsimage') }}</label>
        <br/>
        <label><input type="radio" name="messages.weather.icons" value="font"{% if message.get('weather.icons')=='font' %} checked="checked"{% endif %}> {{ _('messages.weather.iconsfont') }}</label>
    </p>
    <p>
        {{ _('messages.weather.forecast') }}:<br/>
        <label><input type="radio" name="messages.weather.forecast" value="1"{% if message.get('weather.forecast', '') in ['1', ''] %} checked="checked"{% endif %}> {{ _('messages.weather.forecastshow') }}</label>
        <br/>
        <label><input type="radio" name="messages.weather.forecast" value="0"{% if message.get('weather.forecast')=='0' %} checked="checked"{% endif %}> {{ _('messages.weather.forecasthide') }}</label>
    </p>
</p>
