<link href="/messages/inc/weather.min.css" rel="stylesheet" />
<link href="/messages/inc/weather-icons.min.css" rel="stylesheet" />
<link href="/messages/inc/weather-icons-wind.min.css" rel="stylesheet" />

<style>
{%-  if layout.monitor.orientation == 0 %}  {# landscape mode #}
    {%- if forecast=='0' %}
    div.weatherdata{width:{{ layout.monitor.resolutiony }}px;height:{{ layout.monitor.resolutiony }}px;position:relative;margin-left:{{ (layout.monitor.resolutionx - layout.monitor.resolutiony)/2 }}px;}
    {%- else %}
    div.weatherdata{width:{{ layout.monitor.resolutiony }}px;height:{{ layout.monitor.resolutiony }}px;position:relative;}
    {%- endif %}
    div.weatherdata .temp{font-size:4.0em;height:60%;width:50%;position:absolute;top:0;right:0;white-space: nowrap;}
    div.weatherdata .temp div{position:absolute;bottom:20px;right:20px;font-size:2.5em;}
    div.weatherdata .temp div i.icon-t1{font-size:4.5em;}
{% else %}  {# portrait mode #}
    {%  if forecast=='0' %}
    div.weatherdata{width:{{ layout.monitor.resolutionx }}px;height:{{ layout.monitor.resolutionx }}px;position:relative;margin-top:{{ (layout.monitor.resolutiony - layout.monitor.resolutionx)/2 }}px;}
    {% else %}
    div.weatherdata{width:{{ layout.monitor.resolutionx }}px;height:{{ layout.monitor.resolutionx }}px;position:relative;}
    {% endif %}
    div.weatherdata .temp{font-size:3.0em;height:60%;width:50%;position:absolute;top:0;right:0;white-space: nowrap;}
    div.weatherdata .temp div{position:absolute;bottom:20px;right:20px;font-size:2.5em;}
    div.weatherdata .temp div i.icon-t1{font-size:3.5em;}
{% endif %}

    div.weatherdata div.location{position:absolute;bottom:0;left:5px;font-size:16em;color:#424242;font-weight: bolder;}
{%- if icons == 'image' %}
    div.weatherdata .image{position:relative;width:50%;height:60%;background:no-repeat url('/messages/inc/weather/{{ data.get('conditionicon') }}');background-size:150%;float:left;overflow:visible;}
    div.weatherdata .image .condition{position:absolute;bottom:50px;left:10px;font-size:3.0em;}
{%- else %}
    div.weatherdata .font{position:relative;width:50%;height:60%;float:left;}
    div.weatherdata .font .conditionicon{position:absolute;top:100px;left:100px;}
    div.weatherdata .font .conditionicon i{font-size:18.0em!important;}
    div.weatherdata .font .condition{position:absolute;bottom:50px;left:10px;}
{%- endif %}

    div.weatherdata div.sunrise{width:50%;height:40%;float:left;text-align:left;position:relative;font-size:2.0em;}
    div.weatherdata div.sunrise div{position:absolute;left:20px;top:40px;}
    div.weatherdata div.wind{width:50%;height:40%;float:right;text-align:right;position:relative;}
    div.weatherdata div.wind i{margin-top:10%;font-size:2.0em;}
    div.weatherdata div.wind .windspeed{font-size:2.0em;padding-right:20px;padding-top:20px;}
    div.weatherdata div.wind .pressure{padding-right:20px;font-size: 2.0em;}

{%-  if layout.monitor.orientation == 0 %}  {# landscape mode #}
    {%-  if forecast == '0' %}
    div.forecast{display:none;}
    {%- else %}
    div.forecast{width:{{ layout.monitor.resolutionx - layout.monitor.resolutiony }}px;height:{{ layout.monitor.resolutiony }}px;position:absolute;top:0;right:0;}
    div.forecast_data{height:100%;padding-left:30px;}
    div.forecastday{border:solid #424242;border-width:2px 0;min-height:19.5%;margin:0 0 0 20px;position:relative;display:block;}
    div.forecastday:first-child{border-top-width:0;}
    div.forecastday:last-child{border-bottom-width:0;}
    div.forecastday div.daylabel{background-color:#585858;width:10%;position:absolute;top:0;bottom:0;right:0;color:black;text-align:center;}
    div.forecastday div.daylabel p{-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-o-transform: rotate(90deg);font-size:4.0em;}
    div.forecastday div.weathericon{float:left;width:30%;padding-top:20px;min-height:100%;}
    div.forecastday div.wind{float:right;padding-right:12%;width:20%;font-size:2.0em;padding-top:10%;}
    div.forecastday div.wind i {font-size:2.5em;}
    div.forecastday p.temp{font-size:2.5em;padding-top:5%;padding-right:20%;}
    div.forecastday p.pressure {font-size:2.5em;padding-right:20%;}
    {%- endif %}

{% else %}  {# portrait mode #}
    {%-  if forecast == '0' %}
    div.forecast{display:none;}
    {%- else %}
    div.forecast{width:{{ layout.monitor.resolutionx }}px;height:{{ layout.monitor.resolutiony - layout.monitor.resolutionx }}px;position:absolute;left:0;top:{{ layout.monitor.resolutionx }}px;}
    div.forecast_data{height:100%;width:100%;text-align:center;padding-top:15%;}
    div.forecastday{border:solid #424242;border-width:0 2px;min-width:18.5%;min-height:80%;margin:0;position:relative;display:inline-block;}
    div.forecastday:first-child{border-left-width:0;}
    div.forecastday:last-child{border-right-width:0;}
    div.forecastday div.daylabel{background-color:#585858;height:10%;position:absolute;top:0;right:0;left:0;color:black;text-align:center;}
    div.forecastday div.daylabel p{position:absolute;top:-35%;font-size:2.0em;padding-left:15%;}
    div.forecastday div.weathericon {font-size:0.8em;margin-top:35%;}
    div.forecastday div.wind {bottom:5%;position:absolute;width:100%;font-size:1.5em;}
    div.forecastday div.wind i {font-size:2.0em;}
    div.forecastday p.temp {font-size:1.5em;}
    div.forecastday p.pressure {font-size:1.5em;padding-top:20%;}
    {%- endif %}
{% endif %}
</style>

<div id="weathercontainer">
    <div class="weatherdata">
        <div class="location">
            {{ data.get('location') }}
        </div>
        {%- if icons == 'image' %}
        <div class="image">
            <div class="condition">{{ data.get('condition') }}</div>
        </div>
        {%- else %}
        <div class="font">
            <div class="conditionicon"><i class="{{ data.get('conditioncss', '') }}"></i></div>
            <div class="condition">{{ data.get('condition') }}</div>
        </div>
        {%- endif %}

        <div id="temp" class="temp">
            <div>
                <i class="icon-t1"></i> {{ data.get('temperature')|int }}&deg;{{ data.get('temperatureunit') }}
            </div>
        </div>

        <div style="clear:left"></div>

        <div class="sunrise">
            <div>
                <i class="icon-sunrise small"></i> {{ data.get('sunrise')|datetime('HH:mm') }} Uhr<br>
                <i class="icon-sunset small"></i> {{ data.get('sunset')|datetime('HH:mm') }} Uhr
                <p><small>{{ _('messages.weather.time') }}: {{ data.get('builddate')|datetime('dd.MM.YYYY HH:mm') }}</small></p>
            </div>
        </div>

        <div id="wind" class="wind">
            <div class="windspeed"><i class="wi wi-wind from-{{ data.get('winddirection')|int }}-deg"></i> {{ data.get('windspeed') }} {{ data.get('windunit') }}</div>
            <p class="pressure">
                {%- if data.get('pressure', '') != '' %}
                    {{ _('messages.weather.pressure') }}: {{ data.get('pressure')|int }} hPa<br>
                {%- endif %}
                {{ _('messages.weather.humidity') }}: {{ data.get('humidity') }}%<br>
                {%- if data.get('clouds', 0) > 0 %}
                {{ _('messages.weather.cloudlevel') }}: {{ data.get('clouds') }} %
                {%- endif %}
            </p>
        </div>
    </div>

    <div id="forecast" class="forecast">
        {%- if data.get('forecast')|count >0 %}
        <div class="forecast_data">
            {%- for d in data.get('forecast')[-5:] %}
            <div class="forecastday">
                <div class="daylabel"><p><b>{{ d.date|datetime('dd.MM.') }}</b></p></div>
                <div class="weathericon"><i class="wi {{ d.iconclass }}"></i></div>
                {%- if d.winddegree %}
                <div class="wind">{{ d.windspeed }} m/s <br><i class="wi wi-wind from-{{ d.winddegree|int }}-deg"></i></div>
                {%- endif %}
                <p class="temp">{{ d.high|int }}&deg;C / {{ d.low|int }}&deg;C</p>
                {%- if d.pressure %}<p class="pressure">{{ d.pressure|int }} hPa</p>{%- endif %}
            </div>
        {%- endfor %}
        </div>
        {% endif %}
    </div>

</div>
