{% extends "fields/field.config.html" %}

{% block parameters %}
<style>
    #afalertingfields input[type=text]{width:99%;}
    div.fieldrow_alerting{width:90%;overflow:hidden;min-height:28px;position:relative;padding-left:20px;margin:0;}
    div.fieldrow_alerting:hover{background-color: #fff;cursor:pointer;}
    div.fieldrow_alerting i.background{position:absolute;left:5px;top:8px;color:rgb(170, 170, 170);}
</style>
<div id="afalertingfields">
    <form name="field_afalerting" id="field_afalerting_{{ dept }}" method="post" action="">
        <h5>{{ _('alarms.field.alerting.title') }}</h5>
        <small>{{ _('alarms.field.alerting.fieldinfo') }}</small>
        <div id="fields_{{ dept }}" style="position:relative;overflow:hidden;">
            <div style="position:absolute;bottom:0;right:0;width:10%;">
                <button type="button" id="addalertfield_{{ dept }}" style="float:left;margin-bottom:2px;"><i class="fa fa-plus fa-lg"></i></button>
            </div>
            <div style="width:90%;padding-left:20px;">
                <div class="rowcell" style="width:50%;">{{ _('alarms.parameterfield.name') }}</div>
                <div class="rowcell" style="width:50%;">{{ _('alarms.parameterfield.value') }}</div>
            </div>
            <div id="field_alert_sortable{{ dept }}">
                {%- for param in field.parameters %}
                <div class="fieldrow_alerting">
                    <i class="fa fa-arrows-v background"></i>
                    <div class="rowcell" style="width:50%;"><input type="text" name="alerting.field.name" value="{{ param[0] }}"/></div>
                    <div class="rowcell" style="width:50%;"><input type="text" name="alerting.field.value" value="{{ param[1] }}"/></div>
                </div>
                {%- endfor %}
                <div class="fieldrow_alerting">
                    <i class="fa fa-arrows-v background"></i>
                    <div class="rowcell" style="width:50%;"><input type="text" name="alerting.field.name"/></div>
                    <div class="rowcell" style="width:50%;"><input type="text" name="alerting.field.value"/></div>
                </div>
            </div>
        </div>
        <div style="width:90%;text-align:center;">
            <button type="submit" name="action" value="save_AFAlerting_{{ dept }}" style="float:none;width:auto;margin:10px 0;padding:3px 5px;"><i class="fa fa-check"></i> {{ _('alarms.save') }}</button>
        </div>
        <input type="hidden" name="fieldid" value="{{ field.id }}"/>
    </form>
    <div id="alertingtemplate_{{ dept }}" style="display:none;">
        <div class="fieldrow_alerting">
            <i class="fa fa-arrows-v background"></i>
            <div class="rowcell" style="width:50%;"><input type="text" name="alerting.field.name"/></div>
            <div class="rowcell" style="width:50%;"><input type="text" name="alerting.field.value"/></div>
        </div>
    </div>
</div>
<script>
    $('#addalertfield_{{ dept }}').click(function(){
        $('#alertingtemplate_{{ dept }} > div').clone().appendTo('#field_alert_sortable{{ dept }}')
    });
    $( "#field_alert_sortable{{ dept }}" ).sortable().disableSelection();
</script>
{% endblock %}
