{% from 'macro_report.html' import formatField %}

<div class="afpersons" style="border-bottom:0.1px solid black;margin-bottom:10px;padding-left:40px;">
    {%- for extfield in field.getFields() %}
    {%- if extfield.getArg('active') == 'true' %}
        <div style="display:inline">
            <strong>{{ _(extfield.getLabel()) }}:</strong>
            {{ formatField(extfield.getValue(alarm), 10, 1, 5) }}
        </div>
        {%- if extfield.getArg('newline') %}<br/>{%- endif %}
    {%- endif %}
    {%- endfor %}
</div>