{% extends "admin.html" %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block script %}
    <script>
        function testparams(){
            $('#testbutton').html('<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>' + ' {{ _('textmod.ocr.teststart') }}');
            $.ajax({ type : "POST", url : "/admin/data/textmod?action=testocr&callstring="+$("textarea[name='ocr_callstring']").html()+"&format=json",
                 success: function(result) {
                     if(result.ocrtext=='True'){
                         $('#testbutton').html('<i class="fa fa-check fa-fw" style="color:green"></i>' + ' {{ _('textmod.ocr.testok') }}');
                     }else{
                         $('#testbutton').html('<i class="fa fa-exclamation-triangle fa-fw" style="color:red"></i>' + ' {{ _('textmod.ocr.testerror') }}').delay(100000).html('<i class="fa fa-file-text-o fa-fw"></i> {{ _('textmod.ocr.starttest') }}');
                     }
                }
            });
            return false;
        }
    </script>
{% endblock %}

{% block content %}
    <h2>{{ _('textmod.ocr.header.overview') }}</h2>
    <p><small>{{ _('textmod.ocr.info') }}</small></p>
    <form method="post" action="">
            <fieldset>
                <legend>{{ _('textmod.ocr.objectformats') }}</legend>
                <label>{{ _('textmod.ocr.inportformats') }}:<br/>
                    <textarea name="ocr_formats" style="width:100%;height:100px;">{{ params['inputformat']|join('\n') }}</textarea><br/>
                    {{ _('textmod.ocr.inputformatinfo') }}
                </label>

                <label>{{ _('textmod.ocr.callstring') }}:<br/>
                    <textarea name="ocr_callstring" style="width:100%;height:100px;margin-bottom:2px">{{ params['callstring'] }}</textarea>
                    <p style="text-align:right"><button type="button" id="testbutton" onclick="return testparams()" style="margin-left:150px"><i class="fa fa-file-text-o fa-fw"></i> {{ _('textmod.ocr.starttest') }}</button></p>
                    {{ _('textmod.ocr.callstringinfo') }}
                </label>
            </fieldset>

            <fieldset>
                <legend>{{ _('textmod.ocr.textformats') }}</legend>
                <label>{{ _('textmod.ocr.inporttextformats') }}:<br/>
                    <textarea name="ocr_textformats" style="width:100%;height:100px;">{{ params['inputtextformat']|join('\n') }}</textarea><br/>
                    {{ _('textmod.ocr.inputtextformatinfo') }}
                </label>
            </fieldset>
        <p style="padding-top:20px">
            <button type="submit" name="action" value="savereocrparams" class="save"><i class="fa fa-check"></i> {{ _('textmod.ocr.save') }}</button>
        </p>
    </form> 
{% endblock %}
