{% extends "admin.html" %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <h2>{{ _('textmod.convert.header.overview') }}</h2>
    <p><small>{{ _('textmod.convert.info') }}</small></p>
    <form method="post" action="">
        <p>
            {{ _('textmod.convert.inportformats') }}:<br/>
            <select name="convert_format" style="width:99%;">
                {% for imageformat in imageformats %}
                <option value="{{ imageformat }}" {% if imageformat==params['format'] %}selected="selected"{% endif %}>{{ imageformat }}</option>
                {% endfor %}
            </select>
            <br/>
            {{ _('textmod.convert.inputformatinfo') }}
        </p>
        <p>
            {{ _('textmod.convert.callstring') }}:<br/>
            <textarea name="convert_callstring" style="width:99%;height:100px;">{{ params['callstring'] }}</textarea><br/>
            {{ _('textmod.convert.callstringinfo') }}
        </p>
        <p>
            <button type="submit" name="action" value="savereconvertparams" class="save"><i class="fa fa-check"></i> {{ _('textmod.convert.save') }}</button>
        </p>
    </form> 
{% endblock %}
