{% extends "admin.html" %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <h2>{{ _('textmod.convert.header.overview') }}</h2>
    <p><small>{{ _('textmod.convert.info') }}</small></p>
    <form method="post" action="">
        <p>
            <label>{{ _('textmod.convert.inportformats') }}:<br/>
                <select name="convert_format" style="width:99%;">
                    {% for imageformat in imageformats %}
                    <option value="{{ imageformat }}" {% if imageformat==params['format'] %}selected="selected"{% endif %}>{{ imageformat }}</option>
                    {% endfor %}
                </select>
            </label>
            <br/>
            {{ _('textmod.convert.inputformatinfo') }}
        </p>
        <p>
            <label><input type="checkbox" name="convert_crop" value="True"{% if params['crop'] == 'True' %} checked="checked"{% endif %}> {{ _('textmod.convert.cropimage') }}</label>
        </p>
        <p>
            <label>{{ _('textmod.convert.callstring') }}:<br/>
                <textarea name="convert_callstring" style="width:99%;height:100px;">{{ params['callstring'] }}</textarea><br/>
                {{ _('textmod.convert.callstringinfo') }}
            </label>
        </p>
        <p>
            <button type="submit" name="action" value="savereconvertparams" class="save"><i class="fa fa-check"></i> {{ _('textmod.convert.save') }}</button>
        </p>
    </form> 
{% endblock %}
