{% extends "admin.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/settings/inc/spectrum.min.css">
    <style>
        div.colorPicker-picker{width:114px !important;height:20px !important;border:1px solid black !important}
    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/settings/inc/spectrum.min.js"></script>
{% endblock %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <h2>{{ _('settings.cars.listtitle') }}</h2>
    <p><small>{{ _('settings.cars.info') }}</small></p>
    <form method="post" name="maplist" action="">
        <div class="headrow">
            <div style="margin-right:50px;margin-left:15px;">
                <div class="headcell" style="width:80%;">{{ _('settings.cars.types') }}</div>
                <div class="headcell" style="width:20%;">{{ _('settings.cars.typecolor') }}</div>
            </div>
        </div>
        <div id="sortable">
            {% for cartype in cartypes %}
            <div class="row">
                <div style="margin-right:50px;margin-left:15px;">
                    <div class="rowcell" style="width:80%;">
                        <label><input type="text" name="cartype" value="{{ cartype[0] }}" style="width:99%"/></label>
                    </div>
                    <div class="rowcell" style="width:20%;">
                        <label><input type="text" name="cartype" id="color{{ cartype[1] }}" value="{{ cartype[1] }}"/></label>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div style="margin-right:50px;margin-left:15px;">
                    <div class="rowcell" style="width:80%;">
                        <label><input type="text" name="cartype" style="width:99%"/></label>
                    </div>
                </div>
                 <div class="rowcell" style="width:20%;">
                        <label><input type="text" name="cartype" id="color-1" value=""/></label>
                    </div>
            </div>
        </div>
        <div class="headrow" style="padding-left:20px">
            <button type="submit" name="action" value="updatetypes" class="save"><i class="fa fa-check"></i> {{ _('settings.cars.save') }}</button>
        </div>
        <input type="hidden" name="form_id" value="admin.settings.cars.overview"/>
    </form>
{% endblock %}

{% block script_end %}
    {{ super() }}
    $(document).ready( function() {
        $('input[id^="color"]').spectrum({
            preferredFormat: "hex",
            showPaletteOnly: true,
            hideAfterPaletteSelect:true,
        });
    });
{% endblock %}
