{% extends "admin.html" %}

{% block script %}
    <style>
        div.row:hover{cursor:pointer !important;}
        .path{width:99%;border:1px solid black;}
        .pathloading{background:url(/settings/inc/updating.gif) no-repeat right 0 transparent}
        .pathok{background:url(/settings/inc/active.png) no-repeat right 0 transparent}
        .patherror{background:url(/settings/inc/error.png) no-repeat right 0 transparent}
        legend{font-size:16px;font-weight:bold;margin-top:20px;margin-bottom:10px;}
    </style>
{% endblock %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <fieldset>
        <legend>{{ _('settings.listtitle') }}</legend>
        <small>{{ _('settings.info') }}</small>
        <div class="headrow" style="margin-top:5px;">
            <div style="margin-right:15px;margin-left:15px;">
                <div class="headcell" style="width:30%;">{{ _('settings.name') }}</div>
                <div class="headcell" style="width:70%;">{{ _('settings.path') }}</div>
            </div>
        </div>
        <div id="sortable">
            {%- for k in paths.keys() %}
            <div class="row">
                <div style="margin-right:15px;margin-left:15px;">
                    <div class="rowcell" style="width:30%;">{{ _('settings.pathtype.'+k) }}:</div>
                    <div class="rowcell" style="width:70%;">
                        <label><input type="text" value="{{ paths[k] }}" name="{{ 'paths_'+k }}" class="path pathok"/></label>
                    </div>
                </div>
                <input type="hidden" name="mapids" value="{{ k }}" class="path"/>
            </div>
            {%- endfor %}
        </div>
    </fieldset>
    
    <form method="post" name="paths" action="">
        <fieldset>
            <legend>{{ _('settings.observerstatus') }}</legend>
            <small>{{ _('settings.observerstatusinfo') }}</small>
            <p>
                <label>{{ _('settings.observerinterval') }}:</label><br/>
                <input type="number" min="0" step="1" name="observerinterval" value="{{ observerinterval }}"/> {{ _('settings.oberserverunit') }}
            </p>
            <button type="submit" name="action" value="observerstate"><i class="fa fa-check"></i> {{ _('settings.save') }}</button>
        </fieldset>
    </form>

    <form method="post" name="monitorping" action="">
        <fieldset>
            <legend>{{ _('settings.monitorpingtitle') }}</legend>
            <small>{{ _('settings.monitorpinginfo') }}</small>
            <p>
                <input type="number" min="0" step="1" name="monitorping" value="{{ monitorping }}"/> {{ _('settings.monitorpinginterval') }}
            </p>
            <button type="submit" name="action" value="monitorping"><i class="fa fa-check"></i> {{ _('settings.save') }}</button>
        </fieldset>
    </form>

    <form method="post" name="path" action="">
        <fieldset>
            <legend>{{ _('settings.db.title') }}</legend>
            <small>{{ _('settings.db.info') }}</small>
            <p>{{ _('settings.db.currentrevision') }}: <span id="dbstate">{{ alembic.current()}}</span></p>
            <p>
                <button type="button" onclick="return doUpgrade()">{{ _('settings.db.upgradebutton') }}</button>
                <button type="button" onclick="return doDowngrade()">{{ _('settings.db.downgradebutton') }}</button>
            </p>
        </fieldset>
    </form>

{% endblock %}

{% block script_end %}
    {{ super() }}
    $(document).ready(function () {
        $("input[name^='paths_']").on('blur', function(){
           evalPath($(this));
        }).on('focus', function(){
          $(this).removeClass('pathok').removeClass('patherror');
        });

    });
    
    function evalPath(obj){
        obj.addClass('pathloading');
        $.ajax({ type : "POST", url : "/admin/data/settings?action=checkpath&path="+obj.val(),
            success: function(path) {
                obj.removeClass('pathloading');
                if (path==1){
                    obj.addClass('pathok');
                }else{
                    obj.addClass('patherror');
                }
            }
        });
    }

    function doUpgrade(){
        $.ajax({ type : "POST", url : "/admin/data/settings?action=upgradedb",
            success: function(result) {
                $('#dbstate').html(result);
                return false;
            }
        });
    }

    function doDowngrade(){
        $.ajax({ type : "POST", url : "/admin/data/settings?action=downgradedb",
            success: function(result) {
                alert(result);
                return false;
            }
        });
    }

{% endblock %}
