{% extends "admin.html" %}

{% block script %}
    <style>
        div.row:hover{cursor:pointer !important;}
        .path{width:99%;border:1px solid black;}
        .pathloading{background:url(/settings/inc/updating.gif) no-repeat right 0 transparent}
        .pathok{background:url(/settings/inc/active.png) no-repeat right 0 transparent}
        .patherror{background:url(/settings/inc/error.png) no-repeat right 0 transparent}
    </style>
{% endblock %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <fieldset>
        <legend><h2>{{ _('settings.listtitle') }}</h2></legend>
        <small>{{ _('settings.info') }}</small>
        <div class="headrow" style="margin-top:5px;">
            <div style="margin-right:15px;margin-left:15px;">
                <div class="headcell" style="width:30%;">{{ _('settings.name') }}</div>
                <div class="headcell" style="width:70%;">{{ _('settings.path') }}</div>
            </div>
        </div>
        <div id="sortable">
            {% for k in paths.keys() %}
            <div class="row">
                <div style="margin-right:15px;margin-left:15px;">
                    <div class="rowcell" style="width:30%;">{{ _('settings.pathtype.'+k) }}:</div>
                    <div class="rowcell" style="width:70%;">
                        <input type="text" value="{{ paths[k] }}" name="{{ 'paths_'+k }}" class="path pathok"/>
                    </div>
                </div>
                <input type="hidden" name="mapids" value="{{ k }}" class="path"/>
            </div>
            {% endfor %}
        </div>
    </fieldset>
    
    <form method="post" name="paths" action="">
        <fieldset>
            <legend><h2>{{ _('settings.observerstatus') }}</h2></legend>
            <small>{{ _('settings.observerstatusinfo') }}</small>
            <h4>{{ _('settings.actobserverstatus') }}</h4>
            <p>
                <input type="radio" name="observerstate" value="1" {% if observerstate==1 %}checked="checked"{% endif %}/> {{ _('settings.observeractive') }}<br/>
                <input type="radio" name="observerstate" value="0" {% if observerstate==0 %}checked="checked"{% endif %}/> {{ _('settings.observerinactive') }}
            </p>
            <button type="submit" name="action" value="observerstate"><i class="fa fa-check"></i> {{ _('settings.save') }}</button>
        </fieldset>
    </form>
    
    <form method="post" name="paths" action="">
        <fieldset>
            <legend><h2>{{ _('settings.autoclose.title') }}</h2></legend>
            <small>{{ _('settings.autoclose.info') }}</small>
            <p>
                {{ _('settings.autoclose') }}:<br/>
                <input type="text" name="settings.autoclose" value="{{ alarmsettings }}"/>
            </p>
        
            <button type="submit" name="action" value="alarmsettings"><i class="fa fa-check"></i> {{ _('settings.save') }}</button>
        </fieldset>
    </form>

    <form method="post" name="paths" action="">
        <fieldset>
            <legend><h2>{{ _('settings.autoarchive.title') }}</h2></legend>
            <small>{{ _('settings.autoarchive.info') }}</small>
            <p>
                {{ _('settings.autoarchive') }}:<br/>
                <input type="text" name="settings.autoarchive" value="{{ archivesettings }}"/>
            </p>

            <button type="submit" name="action" value="archivesettings"><i class="fa fa-check"></i> {{ _('settings.save') }}</button>
        </fieldset>
    </form>

    <form method="post" name="alarmfields">
        <fieldset>
            <legend><h2>{{ _('settings.alarmsevalfields.title') }}</h2></legend>
            <small>{{ _('settings.alarmsevalfields.info') }}</small>
            <textarea name="settings.alarmsevalfields" style="height:200px;width:99%">{{ alarmsevalfields }}</textarea><br/><br/>
            <button type="submit" name="action" value="alarmsevalfields"><i class="fa fa-check"></i> {{ _('settings.save') }}</button>
        </fieldset>
    </form>
{% endblock %}

{% block script_end %}
    {{ super() }}
    $(document).ready(function () {
        $("input[name^='paths_']").on('blur', function(){
           evalPath($(this));
        }).on('focus', function(){
          $(this).removeClass('pathok').removeClass('patherror');
        });

    });
    
    function evalPath(obj){
        obj.addClass('pathloading');
        $.ajax({ type : "POST", url : "/admin/data/settings?action=checkpath&path="+obj.val(),
            success: function(path) {
                obj.removeClass('pathloading');
                if (path==1){
                    obj.addClass('pathok');
                }else{
                    obj.addClass('patherror');
                }
            }
        });
    }
{% endblock %}
