{% extends "admin.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/settings/inc/spectrum.min.css">
    <style>
        div#previewcontainer{position:relative;}
        div#preview {border:1px solid silver; width:100%;height:250px;margin-bottom:5px;position:relative;overflow:hidden;text-align: center;}
        div#preview img{height:250px;position:relative;}
        div#dellink{position:absolute;right:2px;top:2px;cursor:pointer;z-index:20;}
    </style>
{% endblock %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <script type="text/javascript" src="/settings/inc/spectrum.min.js"></script>
    <h2>{{ _('settings.department.edittitle') }}</h2>
    <p><small>{{ _('settings.department.info') }}</small></p>
    <form method="post" enctype="multipart/form-data">
        <p>
            <label>
                {{ _('settings.department.name') }}:<br/>
                <input type="text" name="dep_name" value="{{ department.name }}" style="width:99%;" required autofocus/>
            </label>
        </p>
        <p>
            <label>
                {{ _('settings.department.shortname') }}:<br/>
                <input type="text" name="dep_shortname" value="{{ department.shortname }}" maxlength="10" style="width:99%;"/>
            </label>
        </p>
        <div style="clear:left;">
            <fieldset style="padding-left:20px;width:47%;float:left;">
                <legend>{{ _('settings.department.address.title') }}</legend>
                <p>
                    <label>{{ _('settings.department.addressname') }}:<br/>
                    <input type="text" name="dep_address_name" value="{{ department.address_name }}" style="width:99%;">
                    </label>
                </p>
                <p>
                    <label>{{ _('settings.department.addressstreet') }}:<br/>
                    <input type="text" name="dep_address_street" value="{{ department.address_street }}" style="width:99%;">
                    </label>
                </p>
                <p>
                    <label>{{ _('settings.department.addresscity') }}:<br/>
                    <input type="text" name="dep_address_city" value="{{ department.address_city }}" style="width:99%;">
                    </label>
                </p>
                <p>
                    <label>{{ _('settings.department.addressphone') }}:<br/>
                    <input type="text" name="dep_address_phone" value="{{ department.address_phone }}" style="width:99%;">
                    </label>
                </p>
                <p>
                    <label>{{ _('settings.department.addressfax') }}:<br/>
                    <input type="text" name="dep_address_fax" value="{{ department.address_fax }}" style="width:99%;">
                    </label>
                </p>
                <p>
                    <label>{{ _('settings.department.addressemail') }}:<br/>
                    <input type="text" name="dep_address_email" value="{{ department.address_email }}" style="width:99%;">
                    </label>
                </p>
            </fieldset>
            <fieldset style="float:left;width:47%;margin-left:4%;">
                <legend>{{ _('settings.department.logo.title') }}</legend>
                {{ _('settings.department.logo.act') }}
                <div id="previewcontainer">
                    <div id="dellink"><a href="#" onclick="return deleteLogo()"><i class="fa fa-trash-o fa-lg"></i></a></div>
                    <div id="preview">{%- if department.logo !='' %}<img src="data:image/{{ department.logo.split('.')[-1] }};base64,{{ department.getLogoStream() }}"/>{%- endif %}</div>
                </div>
                <p>
                    <input name="dep_logo" type="file" style="width:100%;" accept="image/*">
                    <input type="hidden" name="logoaction" id="logoaction"/>
                </p>
            </fieldset>
        </div>
        <p>
            <label>
                {{ _('settings.department.defaultcity') }}:<br/>
                <select name="dep_city">
                    <option value="">{{ _('settings.department.notset') }}</option>
                    {%- for city in cities %}
                    <option value="{{ city.id }}"{%- if department.defaultcity == city.id %} selected="selected"{%- endif %}>{{ city.name }}</option>
                    {%- endfor %}
                </select>
            </label>
        </p>
        <p>
            <label>
                {{ _('settings.department.color') }}:<br/>
                <input type="text" class='simple_color_callback' name="dep_color" id="dep_color" value="{{ department.color }}"/>
            </label>
        </p>
        <p>&nbsp;</p>
        <p>
            <button type="submit" name="action" value="savedept" class="save"><i class="fa fa-check"></i> {{ _('settings.department.save') }}</button>
            <button type="button" class="cancel" onClick="history.go(-1);return true;"><i class="fa fa-times"></i> {{ _('settings.department.cancel') }}</button>
        </p>
        <input type="hidden" name="dep_pos" value="{{ department.orderpos }}"/>
        <input type="hidden" name="dep_id" value="{{ department.id }}"/>
        <input type="hidden" name="form_id" value="settings.department.edit"/>
    </form>
{% endblock %}

{% block script_end %}
    {{ super() }}
    $(document).ready(function(){
        $('.simple_color_callback').spectrum({
            color: "{{ department.color }}",
            preferredFormat: "hex",
            showPaletteOnly: true,
            hideAfterPaletteSelect:true,
        });
    });
    var files;
    $('input[type=file]').on('change', prepareUpload);

    function prepareUpload(event){
        files = event.target.files;
        preview = document.getElementById("preview");
        preview.innerHTML = '';
        var img = document.createElement("img");
        img.classList.add("obj");
        img.file = files[files.length -1];
        preview.appendChild(img);

        var reader = new FileReader();
        reader.onload = (function(aImg) { return function(e) { aImg.src = e.target.result; }; })(img);
        reader.readAsDataURL(files[files.length -1]);
    }

    function deleteLogo(){
        if (confirm('{{ _('settings.logo.delquestion') }}')){
            $('#logoaction').val('deletelogo');
            $('#preview').empty();
        }else{
            $('#logoaction').val('');
        }
        return false;
    }

{% endblock %}