{% extends "admin.html" %}

{% block script %}

{% endblock %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <h2>{{ _('alarmobjects.type.edittitle') }}</h2>
    <p><small>{{ _('alarmobjects.type.info') }}</small></p>
    <form method="post">
        <p>
            <label>
                {{ _('alarmobjects.type.name') }}:<br/>
                <input type="text" name="alarmobjecttype_name" value="{{ alarmobjecttype.name }}" style="width:99%;"/>
            </label>
        </p>
        <p>
            <label>
                {{ _('alarmobjects.type.remark') }}:<br/>
                <textarea name="alarmobjecttype_remark" style="width:99%;height:55px">{{ alarmobjecttype.remark }}</textarea>
            </label>
        </p>
        <p>&nbsp;</p>
        <p>
            <button type="submit" name="action" value="savealarmobjecttype" class="save"><i class="fa fa-check"></i> {{ _('alarmobjects.type.save') }}</button>
            <button type="submit" name="action" value="cancel" class="cancel"><i class="fa fa-times"></i> {{ _('alarmobjects.type.cancel') }}</button>
        </p>
        <input type="hidden" name="alarmobjecttype_id" value="{{ alarmobjecttype.id }}"/>
        <input type="hidden" name="form_id" value="alarmobjects.type.edit"/>
    </form>
{% endblock %}