{%  extends "admin.html" %}

{% block style %}
    <link rel="stylesheet" href="/streets/inc/leaflet.css" />
    <link rel="stylesheet" href="/streets/inc/streets.css" />

    <style>
        .autocomplete-suggestions{background-color:#fff;border:solid #000;border-width:0 1px 1px 1px;}
        .autocomplete-suggestion:hover{cursor:pointer;background-color: #dddddd}
        .leaflet-right{display:none}
    </style>
{%  endblock %}

{% block script %}
    <script type="text/javascript" src="/streets/inc/jquery.autocomplete.min.js"> </script>
    <script type="text/javascript" language="javascript" src="/streets/inc/leaflet.js"> </script>
    <script type="text/javascript" language="javascript" src="/streets/inc/leaflet.ext.js"> </script>
{% endblock %}

{% block content %}
    <h2>{{ _('admin.alarmobjects.header.edit') }}</h2>

    <form method="post">
        <p>
            <label>{{ _('admin.alarmobjects.name') }}:<br/>
                <input type="text" name="edit_name" value="{{ alarmobject.name }}" style="width:99%"/>
            </label>
        </p>
        <div style="width:99%;position:relative;">
            <div style="float:right;width:50%;">
                <div class="osm_div" id="map" style="min-height:450px!important;"> </div>
                {{ _('admin.alarmobjects.mapinfo') }}
            </div>
            <div style="width:49%;">
                <p style="width:80%;background-color:#fff;float:left;padding-right:5px;">
                    <label style="width:99%;">{{ _('admin.alarmobjects.street_no') }}:<br/>
                        <input type="text" value="{{ selectedstreet }}" name="edit_streetid" id="autocomplete-street" style="width:99%"/>
                        <input type="hidden" name="streetid" id="streetid" value="{{ alarmobject.streetid }}"/>
                    </label>
                </p>
                <p style="width:20%;float:left">
                    <br/>
                    <label>
                        <input type="text" name="edit_streetno" value="{{ alarmobject.streetno }}" style="width:99%"/>
                    </label>
                </p>

                <p style="clear:left;">
                    <label>{{ _('admin.alarmobjects.alarmplan') }}:<br/>
                        <input type="text" name="edit_alarmplan" value="{{ alarmobject.alarmplan }}"/> {{ _('admin.alarmobjects.alarmplaninfo') }}
                    </label>
                </p>
                <p>
                    <label style="width:99%;">{{ _('admin.alarmobjects.remark') }}:<br/>
                        <textarea class="navigation" name="edit_remark" style="width:100%;height:250px;">{{ alarmobject.remark }}</textarea>
                    </label>
                </p>
            </div>
        </div>
        <p style="margin-top:30px;">
            <label>
                <input type="checkbox" name="edit_position" value="1" id="edit_position"/> {{ _('admin.alarmobjects.updateposition') }}
            </label>
        </p>
        <div style="width:100%;clear:both;"> </div>
        <input type="hidden" name="edit_lat" id="lat" value="{{ alarmobject.lat }}"/>
        <input type="hidden" name="edit_lng" id="lng" value="{{ alarmobject.lng }}"/>
        <input type="hidden" name="edit_zoom" id="zoom" value="{{ alarmobject.zoom }}"/>
        <p>
            <button type="submit" name="action" value="savealarmobject" class="save" onclick="setPosition()"><i class="fa fa-check"></i> {{ _('admin.alarmobjects.save') }}</button>
            <button type="submit" name="action" value="cancel" class="cancel"><i class="fa fa-times"></i> {{ _('admin.alarmobjects.cancel') }}</button>
        </p>
        <input type="hidden" name="alarmobject_id" value="{{ alarmobject.id }}"/>
        <input type="hidden" name="form_id" value="admin.alarmobject.edit"/>
    </form>
{% endblock %}

{% block script_end %}
    {{ super() }}
    var map = new L.Map('map', {zoom:12, doubleClickZoom: false});

    cloudmade = new L.TileLayer('{{ map.tileserver }}', {minZoom: 12, maxZoom: 18});

    map.setView(new L.LatLng($('#lat').val(), $('#lng').val()), $('#zoom').val()).addLayer(cloudmade);
    map.on('dblclick', function(e){map.panTo(new L.LatLng(e.latlng.lat, e.latlng.lng));});
    map.on('moveend', function(e){
        $('#edit_position').attr('checked', true);
        setPosition();
    });

    function setPosition(){
        var pos = map.getCenter();
        $('#lat').val(pos.lat);
        $('#lng').val(pos.lng);
        $('#zoom').val(map.getZoom());
    }
    
    function getMapPosition(streetid){
        $.ajax({ type : "POST", url : "/data/streets?action=streetcoords&id="+streetid+"&format=json",
             success: function(street) {
                map.panTo(new L.LatLng(street.lat, street.lng));
                map.setZoom(street.zoom);
                $('#wayto').html(street.way);
            }
        });
        return false;
    }
    
    $(document).ready(function() {
        var alarmstreetsArray = new Array();
        
        $.ajax({ type : "POST", url : "/data/streets?action=streetslookup&format=json",
            success: function(streets) {
                var alarmstreetsArray = $.map(streets, function (value, key) { return { value: value, data: key }; }),
                alarmstreets = $.map(streets, function (value) { return value; });
                
                $('#autocomplete-street').autocomplete({
                    lookup: alarmstreetsArray,
                    onSelect: function(suggestion) {
                         $('#streetid').val(suggestion.data); // id
                         $('#streetid').change();
                    }
                });
                
                $('input[name=streetid]').change(function() { getMapPosition($(this).val());});
            }
        });

    });
{% endblock %}