{% extends "frontend.area.html" %}

{% block style %}
    <style>
    ::-webkit-input-placeholder {color: #636363}
    :-ms-input-placeholder {color: #636363}
    :-moz-placeholder {color: #636363}
    #streetssubnorth{padding:0;background-color:#ddd;border-width:0 0 1px 0;width:100%;}
    #streetssubcenter{border-width:0!important;padding:0!important;overflow-y:hidden}

    h3{font-size: 1.1em; background-color:#ababab;border-bottom:1px solid #ddd;margin:0;cursor:pointer;padding:10px 0 8px 10px;overflow:visible;}
    h3:hover{background-color:silver!important}
    p.subcity{text-align:right;padding:5px 2px 0 0;font-size:10px;font-weight:lighter;color:#333;margin:0}
    span.char{margin:5px;font-size:10px}
    div.streetlist{position:relative;border:solid silver;border-width:0 1px}
    a.street{width:100%;white-space: nowrap;padding:2px;display: block;border-bottom:1px dotted #ddd}
    a.street small{color:black}
    a.street:hover{background-color:#ddd;text-decoration: none}
    div.streets{clear:left;padding:0 2px 20px 2px;display:block}
    div.char{border-bottom:1px solid silver;overflow:hidden;position:relative;min-height:30px;padding-top:15px;}
    p.charname{font-size:20px;font-weight:bold;color:silver;text-align:right;position:absolute;top:-5px; right:2px}

    div.alarmobject{margin-bottom:10px;padding-bottom:4px;border-bottom:1px dotted #ddd;width:99%}
    .form-control, .btn-default{border-color: #707070 !important;height:25px;border-radius: 0;padding:2px 12px}
    </style>
{%  endblock %}

{% block headscript %}
    <script type="text/javascript" src="/js/jquery.layout.resizePaneAccordions-latest.min.js"> </script>
    <script type="text/javascript" src="/streets/inc/jquery.autocomplete.min.js"> </script>
    <script type="text/javascript" language="javascript" src="/streets/inc/leaflet.js"> </script>
{% endblock %}

{% block content %}
    <div id="locationscontainer" style="width:100%;height:100%">
        <div class="pane" id="streetssubnorth">
            <input type="hidden" name="streetid" id="streetid"/>
            <div class="input-group" style="padding:5px 0 0 1px">
                <input type="text" name="street" id="autocomplete-street" class="form-control" placeholder="{{ _('streets.search.placeholder') }}" required>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" title="{{ _('streets.search.button') }}"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        <div id="streetssubcenter">
            <div id="streetaccordion">
            {%- for city in cities %}
                <h3 c_name="{{ city.name }}_{{ city.name }}">
                    <span onclick="selectall('{{ city.name|e }}_')">{{ city.name }}</span><br/>
                    {%- set subcities = city.getSubCityList() %}
                    <p class="subcity">
                        {%- for subcity in subcities %}
                         <span id="{{ city.name|e }}_{{ subcity|e }}" onclick="filtersubcity('{{ city.name|e }}', '{{ subcity|e }}')">{{ subcity }}</span>{%- if not loop.last %} | {%- endif %}
                        {%- endfor %}
                    </p>
                </h3>
                <div class="streets streetlist" id="streetlist_{{ city.name }}" style="overflow-x:hidden!important;border:solid silver;border-width:0 1px">
                    {%- for c in streets[city.id] %}
                    <div class="char" >
                        <p class="charname" name="{{ city.id }}_{{ c[0] }}">{{ c[0] }}</p>
                        {%- for street in c[1] %}
                        <a class="street" id="{{ city.name|e }}_{{ street.subcity|e }}" href="#" onclick="return getMapPositionStreet('{{ street.id }}')">{{ street.name }} {%- if street.subcity %} <small>({{ street.subcity}})</small>{%- endif %}</a>
                        {%- endfor %}
                    </div>
                    {%- endfor %}
                </div>
            {%- endfor %}
            {%- if alarmobjects %}
                <h3 c_name="alarmobjects">{{ _('frontend.alarmobject.header') }}</h3>
                <div class="streets alarmobjects">
                   {%- for alarmobject in alarmobjects %}
                     <div class="alarmobject">
                       <a href="#"  onclick="return getMapPositionObject('{{ alarmobject.id }}')">{{ alarmobject.name }}</a><br/>
                         <span style="padding-left:10px;">{{ alarmobject.street.name }} {{ alarmobject.streetno }}</span>
                     </div>
                    {%- endfor %}
                </div>
            {%- endif %}
            </div>
        </div>
        <input type="hidden" name="area" value="{{ frontendarea }}"/>
    </div>
    <script>
        var streetslookup = null;

        function filtersubcity(city, subcity){
            $(".street").show().filter(function() {
                return $(this).attr('id') != city + '_' + subcity && $(this).parent().parent().attr('id') == 'streetlist_' + city;
            }).hide();
        }

        function selectall(id){
            $(".street").filter(function() {
                return $(this).attr('id').indexOf(id) == 0;
            }).show();
        }

        function getMapPositionStreet(streetid){
            $.ajax({ type : "POST", url : "/data/streets?action=streetcoords&id="+streetid+"&format=json",
                 success: function(street) {
                     parent.maps.map.setView(new L.LatLng(street.lat, street.lng), street.zoom);
                }
            });
            return false;
        }

        function getMapPositionObject(aobjectid){
            $.ajax({ type : "POST", url : "/data/alarmobjects?action=streetcoords&id="+aobjectid+"&format=json",
                 success: function(aobject) {
                     parent.maps.map.setView(new L.LatLng(aobject.lat, aobject.lng), aobject.zoom);
                }
            });
            return false;
        }

        function scrollToAnchor(aid){
            var aTag = $("div[name='"+ aid +"']");
            $('html,body').animate({scrollTop: aTag.offset().top},'slow');
            return false;
        }

        $(document).ready(function() {
            var innerLayout = $('#locationscontainer').layout({
                center:{paneSelector: "#streetssubcenter",onresize: $.layout.callbacks.resizePaneAccordions,spacing_open: 0},
                north: {paneSelector: "#streetssubnorth", size: 40, slidable: false, resizable: false, closable:false, spacing_open: 0},
                resizerTip:'{{ _('layout.resize') }}',
                togglerTip_open: '{{ _('layout.open') }}',
                togglerTip_closed: '{{ _('layout.closed') }}'
            });

            $("#streetaccordion").accordion({ heightStyle: "fill", activate: function(event, ui){selectall(ui.newHeader.attr('c_name'));}});

            $.ajax({ type : "POST", url : "/data/streets?action=streetslookup&format=json",
                success: function(streets) {
                    var alarmstreetsArray = $.map(streets, function (value, key) { return { value: value, data: key }; }),
                    alarmstreets = $.map(streets, function (value) { return value; });

                    $('#autocomplete-street').autocomplete({
                        lookup: alarmstreetsArray,
                        onSelect: function(suggestion) {
                             $('#streetid').val(suggestion.data).change(); // id
                        }
                    });

                    $('input[name=streetid]').change(function() { getMapPositionStreet($(this).val());});
                }
            });

        });
    </script>
{% endblock %}