
<!--<script type="text/javascript" language="javascript" src="/streets/inc/leaflet.groupedlayercontrol.js"> </script>-->
<div id="map" style="height:100%;width:100%;"></div>
<style>
    /*.leaflet-control-layers-separator{display:none!important}
    .leaflet-control-layers-base{display:none!important}*/
</style>
<script>
    var startlat = '{{ defaultlat }}';
    var startlng = '{{ defaultlng }}';
    var startzoom = '{{ defaultzoom }}';
    var maptype = '{{ maptype }}';

    var map;
    var cloudmade;
    var marker = null;

    var alarmMarkers = L.layerGroup();
    var MyMarker = L.Icon.extend({options:{shadowUrl: '/img/marker-shadow.png', iconAnchor:[12, 41], popupAnchor:[0, -42]}});
    var redmarker = new MyMarker({iconUrl:'/img/marker_red.png'});
    var orangemarker = new MyMarker({iconUrl:'/img/marker_orange.png'});
    var yellowmarker = new MyMarker({iconUrl:'/img/marker_yellow.png'});
    var greymarker = new MyMarker({iconUrl:'/img/marker_sw.png'});
    var colorcode = new Array(yellowmarker, orangemarker, redmarker);
    
    var cities = new L.LayerGroup();

    L.marker([39.61, -105.02]).bindPopup('This is Littleton, CO.').addTo(cities),
    L.marker([39.74, -104.99]).bindPopup('This is Denver, CO.').addTo(cities),
    L.marker([39.73, -104.8]).bindPopup('This is Aurora, CO.').addTo(cities),
    L.marker([39.77, -105.23]).bindPopup('This is Golden, CO.').addTo(cities);

    var restaurants = new L.LayerGroup();

    L.marker([39.69, -104.85]).bindPopup('A fake restaurant').addTo(restaurants);
    L.marker([39.69, -105.12]).bindPopup('A fake restaurant').addTo(restaurants);

    $(document).ready(function () {
         {% for map in maps | reverse %}
            {% if map.maptype in [0, 1] %}var l_{{ map.id }} = new L.TileLayer('{{ map.tileserver|safe}}', {minZoom: 12, maxZoom: 18, trackResize:true});
            {% else %}var l_{{ map.id }} = new L.TileLayerQuad('{{ map.tileserver|safe }}');{% endif %}
        {% endfor %}

        map = new L.Map('map', {zoom:12, doubleClickZoom: false, trackResize: true,
                  layers:[{% for map in maps | reverse %}l_{{map.id}}{% if not loop.last %}, {% endif %}{% endfor %}]
        });

        alarmMarkers.addTo(map);

        var cities = new L.LayerGroup();

        L.marker([39.61, -105.02]).bindPopup('This is Littleton, CO.').addTo(cities),
        L.marker([39.74, -104.99]).bindPopup('This is Denver, CO.').addTo(cities),
        L.marker([39.73, -104.8]).bindPopup('This is Aurora, CO.').addTo(cities),
        L.marker([39.77, -105.23]).bindPopup('This is Golden, CO.').addTo(cities);

        var restaurants = new L.LayerGroup();

        L.marker([39.69, -104.85]).bindPopup('A fake restaurant').addTo(restaurants);
        L.marker([39.69, -105.12]).bindPopup('A fake restaurant').addTo(restaurants);

        var baseMaps = {
            {% for map in maps | reverse %}
                "{{ map.name }}" : l_{{map.id}},
            {% endfor %}
        };

        map.setView(new L.LatLng(startlat, startlng), startzoom);

        var overlayMaps={
            "Hydranten": cities,
            "Feuerwehrzufahrten": restaurants
        };

        L.control.layers(baseMaps, overlayMaps).addTo(map);

        // select default map
        $('.leaflet-control-layers-base').children().last().children('.leaflet-control-layers-selector').click();
    });
    function setPosition(lat, lng, zoom){
        if (zoom==undefined){
            zoom = map.getZoom();
        }
        map.panTo(new L.LatLng(lat, lng), zoom);
    }
    
    function addMarker(lat, lng, prio, moveable){ /*updated*/
        if (prio){
            m = new L.Marker(new L.LatLng(lat, lng), {icon:colorcode[prio],draggable:moveable});
        }else{
            m = new L.Marker(new L.LatLng(lat, lng), {icon:redmarker,draggable:moveable});
        }
        alarmMarkers.addLayer(m);
        return m;
    }
</script>