{% extends "admin.html" %}

{%-  block style %}
    <style>
        div.attributename{width:50%;float:left;padding-right:20px;}
        div.attributename input{width:100%;}
        div.attributevalue{width:48%;float:left;}
        div.attributevalue input{width:100%;}
    </style>
{%- endblock %}

{% block script %}
    <script type="text/javascript" src="/alarms/inc/jquery.form.js"> </script>
{% endblock %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% macro interpreterVariables(variables, alarmtype) %}
    {%- for variable in variables %}
        <label style="width:50%">
            {{ _(variable) }}:<br/>
            <input type="text" value="{{ alarmtype.translation(variable) }}" name="alarmtypetranslation" style="width:99%"/>
            <input type="hidden" value="{{ variable }}" name="alarmtypevariables"/>
        </label><br/>
    {%- endfor %}
{% endmacro %}

{% block content %}
    <h2>{{ _('alarms.type.header.overview') }}</h2>
    <p><small>{{ _('alarms.type.info') }}</small></p>
    <form method="post" style="padding-bottom:20px;">
        <p>
            <label style="width:99%">{{  _('alarms.type.interpreter') }}:<br/>
                <select name="edit_interpreter" style="width:99%;">
                    {%- if alarmtype.id == None %}
                    <option value="">{{ _('alarms.type.selectcheckerclass') }}</option>
                    {% endif %}
                    {%- for i in interpreter %}
                        <option value="{{ i[0] }}"{% if i[0]==alarmtype.interpreter %} selected="selected"{% endif %}>{{ i[1].__name__ }}</option>
                    {%- endfor %}
                </select>
            </label>
        </p>
        <p>
            <label style="width:99%;">{{ _('alarms.type.name') }}:<br/>
                <input type="text" name="edit_name" value="{{ alarmtype.name }}" style="width:99%;" required pattern="[a-zA-Z_()]+"/>
            </label>
        </p>
        <p>
            <label style="width:99%;">{{ _('alarms.type.keywords') }}:<br/>
                <textarea name="edit_keywords" style="width:99%;height:100px;">{{ alarmtype.keywords }}</textarea>
            </label>
        </p>
        <div id="attributes">
        {%- for attribute in alarmtype.attributes %}
            <div class="attributename">
                <p>
                    <label>{{ _('alarms.type.attributename') }}:<br/>
                        <input name="attribute_name" value="{{ attribute }}"/>
                    </label>
                </p>
            </div>
            <div class="attributevalue">
                <p>
                    <label>{{ _('alarm.type.attributevalue') }}:<br/>
                        <input name="attribute_value" value="{{ alarmtype.attributes[attribute] }}">
                    </label>
                </p>
            </div>
        {%- endfor %}
        </div>
        <p>
            {{ _('alarms.type.variables') }}:<br/>
            <small>{{ _('alarms.type.variableinfo') }}</small>
        </p>
        <fieldset name="variables">
            {{ interpreterVariables(alarmtype.interpreterStrings(), alarmtype) }}
        </fieldset>
        <p style="padding-top:10px;">
            <button type="submit" name="action" value="updatetype" class="save"><i class="fa fa-check"></i> {{ _('alarms.type.save') }}</button>
            <button type="button" class="cancel" onClick="history.go(-1);return true;"><i class="fa fa-times"></i> {{ _('alarms.type.cancel') }}</button>
        </p>
        <input type="hidden" name="type_id" value="{{ alarmtype.id }}"/>
        <input type="hidden" name="form_id" value="admin.alarms.type.edit"/>
    </form>
{% endblock %}

{% block script_end %}
    {{ super() }}

    {%- if alarmtype.id == None %}
    $(document).ready(function(){
        $("select[name='edit_interpreter']").change(function() {
            $("fieldset[name='variables']").html('');
            $("#attributes").html('');
            $.ajax({ type : "POST", url : "/admin/data/alarms?action=getkeywords&checker="+$("select[name='edit_interpreter']").val()+'&format=json',
                success: function(result) {
                    $("textarea[name='edit_keywords']").val(result.keywords);
                    var content = "";
                    $.each(result.variables, function(index, value){
                        content += '<label style="width:50%">'+value+':<br/><input type="text" value="" name="alarmtypetranslation" style="width:99%"/><input type="hidden" value="'+value+'" name="alarmtypevariables"/></label><br/>';
                    });
                    $("fieldset[name='variables']").html(content);
                    var content = "";
                    $.each(result.attributes, function(index, value){
                        content += '<div class="attributename"><p><label>{{ _('alarms.type.attributename') }}:<br/><input name="attribute_name" value="'+value+'"/></label></p></div><div class="attributevalue"><p><label>{{ _('alarm.type.attributevalue') }}:<br/><input name="attribute_value" value=""></label></p></div>';
                    });
                    $("#attributes").html(content);
                    return false;
                }
            });
            $("input[name='edit_name']").val($("select[name='edit_interpreter'] option:selected").text());
            return false;
        });
    });
    {%- endif %}
{% endblock %}