{% extends "admin.html" %}

{% block script %}
    <script type="text/javascript" src="/alarms/inc/jquery.form.js"> </script>
{% endblock %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <style>
        #vtab {margin: 0; width: 99%; height: 100%;padding-right:20px;}
        #vtab > ul > li {width: 221px; background-color: #fafafa !important; list-style-type: none; display: block; font-size:12px;margin: auto; padding-bottom: 15px; border: 1px solid #fafafa; position: relative; border-right: none; padding-top:15px; padding-left:5px;cursor:pointer;}
        #vtab > ul > li.selected {border: 1px solid #ddd; border-right: none;z-index: 10; background-color: #fff !important; position: relative;}
        #vtab > ul {float: left; width: 110px; text-align: left; display: block; margin: auto 0; padding: 0; position: relative; top: 0;}
        #vtab > div {background-color: #fff; margin-left: 220px; border: 1px solid #ddd; min-height: 400px; padding: 12px; position: relative;z-index: 9}
        #vtab  > ul > li.enabled{cursor:pointer; font-weight:bold;}
    </style>

    <h2>{{ _('alarms.test.header') }}</h2>
    <p>{{ _('alarms.test.info') }}</p>

    <h3>{{ _('alarms.test.step1') }} ({%- for f in uploadfileformat %}*.{{ f }}{% if not loop.last %}, {% endif %}{%- endfor %})</h3>
    <form name="form" id="requestForm" action="/admin/data/alarms?action=upload" method="post" enctype="multipart/form-data">
        <p>
            {{ _('alarms.test.file') }}:<br/>
            <input id="uploadfile" type="file" size="45" name="uploadfile" class="input" style="display:inline;height:24px;">
            <button type="submit" value="Start" style="height:24px"><i class="fa fa-upload"></i> {{ _('alarms.test.start') }}</button>
            <input type="hidden" name="filename" id="filename"/><br/>
        </p>
        <div id="state" style="display:none;padding-top:5px;"> <img src="/admin/img/loading.gif"/> {{ _('alarms.test.step2') }}</div>
    </form>
    <div id="result"></div>
{% endblock %}

{% block script_end %}
    {{  super() }}
    var testsocket = new WebSocket("ws://"+location.host+"/ws");

    $(document).ready(function(){
        $('#requestForm').ajaxForm({
            beforeSubmit: function() {
                if($.inArray($('#uploadfile').val().split('.').pop(), [{%- for f in uploadfileformat %}'{{ f }}', {%- endfor %}])>=0){
                    testsocket.send('send.alarm.testupload_start');
                    $('#state').show();
                    $('#result').html('<div id="vtab"><ul></ul></div>');
                    $('#filename').val($('#uploadfile').val().split('\\').pop());
                }else{
                    alert('{{ _('alarms.text.wrongfile.msg') }}');
                    return false;
                }
            }
        });

         testsocket.onopen = function() {
            testsocket.send("add.alarms.testupload_start");
         };
         testsocket.onmessage = function (evt) {
            var data = JSON.parse(evt.data + '');
            if(data.handler){
                $('#result > div#vtab > ul').append('<li>'+data.handler+'</li>');
                $('#result > div#vtab').append('<div><p><strong>{{ _('alarms.test.protocol') }}</strong></p><em>'+data.protocol+'</em><div><p style="padding-top:40px;">{{ _('alarms.test.nooutput') }}</p></div></div>');
            }
            if(data.result){
                if(data.result == 'done'){
                    $('#state').hide();
                }else{
                    (data.error) ? err='<p class="error">'+data.error+'</p>': err='';
                    if(data.result!=""){
                        $('#result > div#vtab div:last-child > div').html(err+'<pre>'+data.result+'</pre>');
                    }else{
                        $('#result > div#vtab div:last-child > div').html(err);
                    }
                    $("#vtab ul li:not(:last-child)").removeClass('selected');
                    $("#vtab ul li:last-child").addClass('selected');
                    $("#vtab div:not(:last-child)").hide();
                }
            }

            var $items = $('#vtab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');
                $('#vtab>div').hide().eq($items.index($(this))).show();
            });
         };
    });
{% endblock %}