{% extends "frontend.area.html" %}

{% block headscript %}
    <link rel="stylesheet" href="/alarms/inc/frontend.alarms.min.css" />
    <script type="text/javascript" src="/js/jquery.layout.resizePaneAccordions-latest.min.js"> </script>
    <script type="text/javascript" language="javascript" src="/streets/inc/leaflet.js"> </script>

    <script>
        if (typeof parent.maps != "undefined"){
            parent.maps.alarmHouses = L.layerGroup();
        }

        var current_alarmid = 0;

        $(document).ready(function() {
            var innerLayout = $('#alarmcontainer').layout({
                center:{paneSelector: "#alarmssubcenter",onresize: $.layout.callbacks.resizePaneAccordions},
                north: {paneSelector: "#alarmssubnorth", size: 40, slidable: false, resizable: false, closable:false, spacing_open: 0, showOverflowOnHover: true},
                resizerTip:'{{ _('layout.resize') }}',
                togglerTip_open: '{{ _('layout.open') }}',
                togglerTip_closed: '{{ _('layout.closed') }}'
            });

            $("#alarmaccordion").accordion({ heightStyle: "fill", active: {{ activeacc }}, create: loadAlarms({{ alarmstates.keys()[activeacc|int] }})});
            $(".selectable").selectable({
                        stop: function () {
                            $(this).find('.dropdown-toggle').removeAttr("disabled");
                            if ($(".ui-selected", this).length > 1) {
                                $(".ui-selected", this).each(function () {
                                    $(this).find('.dropdown-toggle').attr("disabled", "disabled").clearQueue();
                                });
                            }
                        }
                    }
            );

        });

        parent.ws.onmessage=function(e){
            $('#ws').html('<i class="fa fa-link fa-lg"></i>');
            var d = JSON.parse(e.data);
            console.log(d);
            if(d.sender=='alarm.updated' || d.sender=='alarm.deleted' || (d.sender=='alarm.changestate' && d.newstate!=0)){
                location.reload();
            }else if(d.sender=='alarm.added' || (d.sender=='alarm.changestate' && d.newstate==0)) {
                location.reload();
                parent.$('#overlaycontent').html('<h3>{{ _('alarm.addedalert') }}</h3>');
                parent.$('.overlay').show();
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div id="alarmcontainer" class="alarmcontainer">

        <div class="pane" id="alarmssubnorth" style="padding-top:5px;overflow:hidden;">
            <button type="button" name="action" value="addalarm" title="{{ _('alarms.addtitle') }}"><i class="fa fa-plus fa-lg"></i></button>
            <button type="button" name="action" value="refresh" title="{{ _('alarms.autorefresh') }}"><i class="fa fa-refresh fa-lg"></i></button>
            <button type="button" name="collective" value="collective" title="{{ _('alarms.collectivereport') }}"><i class="fa fa-file-text-o fa-lg"></i></button>
            <button type="button" name="archive" value="archive" title="{{ _('alarms.archivetitle') }}"><i class="fa fa-shield fa-lg"></i></button>
            <button type="button" name="filter" class="filter" title="{%- if alarmfilter=="0" %}{{ _('alarms.filter.title') }}{% else %}{{ _('alarms.filter.activetitle')}}: {{ _('alarms.filter.'+alarmfilter|string) }} {%- endif %}"><i class="fa fa-filter fa-lg"{%- if alarmfilter!="0" %} style="color:black;"{%- endif %}></i></button>
            <div id="filterdiv" class="filterdiv">
                {%- for d in ["0", "1", "7", "31"] %}
                    <a {%- if d == alarmfilter %} class="selected"{%- endif %} onclick="filteralarms({{ d }})" href="#">{{ _('alarms.filter.'+d) }}</a>
                {%- endfor %}
            </div>

            <div class="smallmodulesarea">
                {%- for mod in [frontendmoduledef[frontendarea].module] + frontendmoduledef[frontendarea].moduleadd %}
                {%- if mod != 'alarms' %} {# exclude current module #}
                <button value="{{ mod }}" id="module" title="{{ _('module.'+mod) }}"><i class="fa {{ frontendmodules[mod].info.icon }} fa-lg"></i></button>
                {%- endif %}
                {%- endfor %}
            </div>
        </div>

        <div id="alarmssubcenter">
            <div id="alarmaccordion">
                {%- for k in alarmstates.keys() %}
                <h3 a_name="alarmstate__{{ k }}" class="btn-default" key="{{ k }}">
                    {{ _('alarmstate.'+alarmstates[k]) }}
                    <span id="priocar_{{ k }}" class="priocars"></span>
                    <span class="badge badge-info pull-right">{{ stats[k] }}</span>
                </h3>

                <div id="alarmstate_{{ k }}" class="selectable">
                    <p class="noalarms">{{ _('alarms.noactive') }}</p>
                </div>
                {%- endfor %}
            </div>
            {%- with messages = get_flashed_messages(category_filter=["alarms"]) %}
                {%- if messages %}
                <div style="position:absolute;top:50%;width:80%;left:10%;">
                <div class="alert alert-info alert-dismissable" style="width:100%;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {%- for message in messages %}
                        <p>{{ message|safe }}</p>
                    {%- endfor %}
                </div>
                </div>
                {%- endif %}
            {%- endwith %}

        </div>
            <script>

                function openPDF(path) {
                    window.open(path, '_blank');
                    return false;
                }

                $('button[name="filter"]').click(function(){
                    $('#filterdiv').css('margin-left', $(this).offset().left - 120).toggle();
                });

                function filteralarms(d){
                    window.location.href='/alarms?area={{ frontendarea }}&alarmfilter='+d;
                }
                function editAlarm(id){
                    parent.maps.alarmHouses.clearLayers();
                    window.location.href='/alarms?action=editalarm&alarmid='+id+'&area={{ frontendarea }}';
                }

                function addMessage(alarmid){
                       $.ajax({ type : "POST", url : "/data/alarms?action=message&alarmid="+alarmid+'&area={{ frontendarea }}',
                        success: function(result) {
                            parent.$('#overlaycontent').html(result);
                            parent.$('.overlay').toggle();
                            return false;
                        }
                    });
                    return false;
                }

                function showTimeForm(alarmid) {
                    $.ajax({ type : "POST", url : "/data/alarms?action=timeform&alarmid="+alarmid,
                        success: function(result) {
                            parent.$('#overlaycontent').html(result);
                            parent.$('.overlay').toggle();
                            return false;
                        }
                    });
                    return false;
                }

                function questionFinish(alarmid){
                    if (confirm('{{ _('alarms.finishquestion') }}')){
                        $.ajax({ type : "POST", url : "/alarms?action=finishalarm&alarmid="+alarmid+"&area={{ frontendarea }}",
                            success: function() {window.location.href='/alarms?area={{ frontendarea }}';}
                        });
                    }
                }

                function questionActivate(alarmid){
                    if (confirm('{{ _('alarms.activatequestion') }}')){
                        $.ajax({ type : "POST", url : "/alarms?action=activatealarm&alarmid="+alarmid+"&area={{ frontendarea }}",
                            success: function() {window.location.href='/alarms?area={{ frontendarea }}';}
                        });
                    }
                }

                function questionArchive(alarmid){
                    var selection = $(".ui-selected");
                    if (selection.length > 0) {
                        if (confirm('{{ _('alarms.archivequestion') }}')) {
                            alarmid = $.map(selection, function(alarm){return $(alarm).attr('alarmid');}).join(';');
                            $.ajax({ type: "POST", url: "/alarms?action=archivealarm&alarmid=" + alarmid + "&area={{ frontendarea }}",
                                success: function () {window.location.href = '/alarms?area={{ frontendarea }}';}
                            });
                        }
                    }else{
                        alert('{{ _('alarms.archivequestionnoselection') }}');
                    }
                    return false;
                }

                function questionDelete(alarmid){
                    if (confirm('{{ _('alarms.deletequestion') }}')){
                        $.ajax({ type : "POST", url : "/alarms?action=deletealarm&alarmid="+alarmid+"&area={{ frontendarea }}",
                            success: function() {window.location.href='/alarms?area={{ frontendarea }}';}
                        });
                    }
                }

                function sendtomonitor(id){
                    $.ajax({ type : "POST", url : "/data/alarms?action=alarmmonitor&alarmid="+id,
                         success: function(ret) {}
                    });
                    return false;
                }

                function printAlarm(id, printerdefid){
                    $('.dropdown-menu').hide();
                    $.ajax({ type : "POST", url : "/data/alarms?action=printalarm&alarmid="+id+"&printerdef="+printerdefid,
                        success: function() {
                            $('.options').find('.dropdown-menu').stop(true, true).hide();
                            return false;
                        }
                    });
                    return false;
                }

                function routeAlarm(id){
                    $.ajax({ type : "POST", url : "/data/alarms?action=routeinfo&alarmid="+id,
                        success: function(ret) {
                            parent.$('#overlaycontent').html(ret);
                            parent.$('.overlay').toggle().clearQueue();
                            return false;
                        }
                    });
                    return false;
                }

                function showRoute(id){
                    parent.maps.map.clearRoute();
                    if($('#route_'+id).toggleClass('fa-random').hasClass('fa-random')) {
                        $.ajax({ type: "POST", url: "/data/alarms?action=routecoords&alarmid=" + id,
                            success: function (ret) {
                                if (ret.error=='1') {
                                    alert(ret.errormessage);
                                }else {
                                    parent.maps.map.addRoute(ret);
                                }
                                return false;
                            }
                        });
                    }
                    return false;
                }

                function mapPanTo(obj){
                    if (current_alarmid == $(obj).attr('alarmid')){
                        return false;
                    }
                    $('#route_'+current_alarmid).removeClass('fa-random')
                    current_alarmid = $(obj).attr('alarmid');
                    parent.maps.map.clearMarkers();
                    parent.maps.map.clearRoute();

                    if ($(obj).attr('lat')!="") {
                        var m = parent.maps.map.addMarker($(obj).attr('lat'), $(obj).attr('lng'), $(obj).attr('priority'), false);
                        if(m) {
                            m.bindPopup('<small>' + $(obj).find('.date').html() + '</small><br/>' + $(obj).find('.key').html() + '<br/><b>' + $(obj).find('.address').html() + '</b>');
                            m.options['alarmid'] = $(obj).attr('alarmid');
                            m.on('click', onAlarmMarkerClick);
                            m.on('mouseover', onAlarmMarkerMouseOver);
                            m.on('mouseout', onAlarmMarkerMouseOut);
                        }
                    }

                    parent.maps.map.setView(new L.LatLng($(obj).attr('lat'), $(obj).attr('lng')), parent.maps.map.getZoom());
                    $.ajax({ type : "POST", url : "/data/alarms?action=housecoordinates&alarmid="+$(obj).attr('alarmid')+"&format=json",
                         success: function(coords) {
                             parent.maps.map.clearHouseNumbers();
                             parent.maps.map.addHouseNumber(coords);
                             return false;
                        }
                    });
                }

                function showPrioCars(state) {
                    $.ajax({ type: "POST", url: "/data/alarms?action=alarmpriocars&state=" + state,
                        success: function (cars) {
                             $('#priocar_'+state).html(cars);
                            return false;
                        }
                    });
                }

                {%- for k in alarmstates.keys() %}
                showPrioCars({{ k }});
                {%- endfor %}

                function showDetails(id){
                    $.ajax({ type: "POST", url: "/data/alarms?action=showdetailsform&alarmid="+id,
                        success: function (result) {
                            parent.$('#overlaycontent').html(result);
                            parent.$('.overlay').toggle();
                            return false;
                        }
                    });
                }

                function loadAlarms(state, activate){
                    $('#alarmstate_' + state).html('<p class="noalarms"><img src="/img/loading.gif"/></p>');
                    $.ajax({ type: "POST", url: "/data/alarms?action=alarmsforstate&state=" + state,
                        success: function (alarms) {
                            $('#alarmstate_' + state).html(alarms);
                            if (activate) {
                                showMappoints(state);
                            }
                            return false;
                        }
                    });
                }

                $("h3[a_name^='alarmstate__']").each(function() {
                    $(this).click(function () { showMappoints($(this).attr('key')); });
                    /*if ($(this).attr('key') != '{{ alarmstates.keys()[activeacc] }}') {
                        $(this).one("click", function () { loadAlarms($(this).attr('key')); });
                    }*/
                });

                {%- for k in alarmstates.keys() %}
                loadAlarms({{ k }}, {{ (loop.index0|string == activeacc|string)|string|lower }});
                {%- endfor %}

                $("button[value=refresh]").click(function(){window.location.href='/alarms?area={{ frontendarea }}'});
                $("button[value=addalarm]").click(function(){window.location.href='/alarms?action=editalarm&alarmid=0&area={{ frontendarea }}'});
                $("button[value=archive]").click(function(){questionArchive(0)});
                $("button[value=collective]").click(function(){loadCollective()});


                $("button[id=module]").each(function(){
                    $(this).click(function(){window.location.href='/'+$(this).val()+'?area={{ frontendarea }}'});
                });

                function loadCollective(){
                    $.ajax({ type : "POST", url : "/data/alarms?action=collective",
                        success: function(result) {
                            if(result==""){
                                alert('{{ _('alarms.collectivereport.noreports') }}');
                            }else {
                                $('#overlaycontent', parent.document).html(result);
                                $('.overlay', parent.document).toggle();
                            }
                            return false;
                        }
                    });
                    return false;
                }

                function doCollectiveReport() {
                    var ids = [];
                    parent.$('input[name^=exportalarm]:checked').each(function(){
                        ids.push($(this).val());
                    });
                    $.ajax({ type : "POST", url : "/data/alarms?action=docollective&ids="+ids+'&form='+parent.$('select[name=reportname]').val(),
                        success: function(filename) {
                            if (filename==''){
                                alert('{{ _('alarms.collectivereport.error') }}');
                            }else{
                                window.open('/data/alarms/download/'+filename);
                            }
                            return false;
                        }
                    });
                    return false;
                }

                function showMappoints(state) {
                    if (typeof parent.maps.map != "undefined") {
                        $('.alarmrow').removeClass('selected');
                        parent.maps.map.clearMarkers();
                        parent.maps.map.clearHouseNumbers();
                        parent.maps.map.clearRoute();

                        if (state == 2){
                            $("button[name='archive']").removeAttr("disabled").removeClass("disabled");
                        }else{
                            $("button[name='archive']").attr("disabled", "disabled").addClass("disabled");
                        }

                        $('#alarmstate_' + state).children().each(function() {
                            if ($(this).attr('lat')!="") {
                                var m = parent.maps.map.addMarker($(this).attr('lat'), $(this).attr('lng'), $(this).attr('priority'), false);
                                if (m) {
                                    m.bindPopup('<small>' + $(this).find('.date').html() + '</small><br/>' + $(this).find('.key').html() + '<br/><b>' + $(this).find('.address').html() + '</b>');
                                    m.options['alarmid'] = $(this).attr('alarmid');
                                    m.on('click', onAlarmMarkerClick);
                                    m.on('mouseover', onAlarmMarkerMouseOver);
                                    m.on('mouseout', onAlarmMarkerMouseOut);
                                }
                            }
                        });
                        return false;
                    }
                }
                function onAlarmMarkerMouseOver(){this.openPopup();}
                function onAlarmMarkerMouseOut(){this.closePopup();}
                function onAlarmMarkerClick(){$('#editalarm_'+this.options['alarmid']).click();}
            </script>
    </div>
{% endblock %}