<h3>{{ _('alarms.collectiveform.title') }}</h3>
<small>{{ _('alarms.collectiveform.info') }}</small>
<br/><br/>

<style>
    p.alarm:hover{background-color:rgb(221,221,221);}
    p.alarm{padding-left:20px;position:relative;border-bottom:1px solid silver;margin-bottom:0;}
    p.alarm:last-child{border-bottom-width:0;}
    p.alarm label{width:100%;}
    p.alarm input[type=checkbox]{position:absolute; left:2px;top:16px;}
    div.alarmlist{max-height: 200px;overflow-x:auto;border:1px solid silver;}
    span.alarmid{color:silver;position:absolute; top:1px; right:2px;}
</style>

<div>
    <form method="get" action="/data/alarms?action=docollective">
        <div class="alarmlist">
        {%- for alarm in alarms %}
        <p class="alarm">
            <span class="alarmid">Id: {{ alarm.id }}</span>
            <label>
                <input type="checkbox" name="exportalarm_{{ alarm.id }}" class="checkbox" checked="checked" value="{{ alarm.id }}">
                <small>{{ loop.index }}.</small> <span>{{ alarm.timestamp|datetime }}</span><br/>
                <span><em>{{ alarm.key.category }}: {{ alarm.key.key }}</em></span>:<br/>
                {{ alarm.city.name }} - {{ alarm.street.name }} {{ alarm.streetno }}
            </label>
        </p>
        {%- endfor %}
        </div>
        <p>
            <small><a href="javascript:void(0)" onclick="$('.checkbox').each(function(){this.checked=!this.checked;});" title="{{ _('alarms.toggletitle') }}">{{ _('alarms.toggleselection') }}</a></small>
        </p>
        <p>
            <label>
                {{ _('alarms.collectiveform.report') }}:
                <select name="reportname">
                    {%- for report in reports %}
                        <option value="{{ report.id }}">{{ report.name }}</option>
                    {%- endfor %}
                </select>
            </label>
        </p>
        <p style="text-align:center;">
            <button type="submit" value="exportcollective" onclick="return window.alarms.doCollectiveReport()">{{ _('alarms.collectiveform.do') }}</button>
        </p>
    </form>
</div>
