<div id="timer_widget">
    <style>
        div#timer_widget{position:relative;width:100%;}
        div#timer_widget #alarmtimer{position:absolute;top:18px;right:1px;font-size:1.5em}
    </style>

    <div id="alarmtimer"> </div>

    <script type="text/javascript">
        var d = {{ alarm.timestamp.hour}}*60*60 + {{ alarm.timestamp.minute }}*60 + {{ alarm.timestamp.second }};
        function alarmtime() {
            var now = new Date();
            var n = now.getHours()*60*60+now.getMinutes()*60+now.getSeconds();
            if(d){
                diff = (n-d);
                minutes = Math.floor(diff / 60) % 60;
                seconds = Math.floor(diff) % 60;

                $('#alarmtimer').html(((minutes<=9)?"0"+minutes:minutes)+":"+((seconds<=9)?"0"+seconds:seconds));
            }
        }
        alarmtime();
        setInterval('alarmtime()', 1000);
    </script>
</div>
