<div id="alarm_comment_widget">
    <style scoped="scoped">
        div#alarm_comment_widget{position:relative;width:100%;top:0;margin:0;padding:0;overflow:visible}
        div.monitor_alarm_comment{font-size:2.0vem;padding:10px 20px}
        div.monitor_alarm_comment div.label{color:#696969;font-size:12px;position:absolute;top:0;left:20px}
    </style>
    <div class="monitor_alarm_comment">
        <div class="label">{{ _('alarms.remark') }}:</div>
        <span id="alarm_key_category">{{ alarm.remark }}</span>
    </div>
</div>