<div id="timer_widget">
    {%- if alarm %}
    <style scoped="scoped">
        div#timer_widget{position:relative;width:100%}
        div#timer_widget #alarmtimer{position:absolute;top:2px;right:2px;font-size:1.2em;white-space:nowrap}
        div#timer_widget #alarmtimer span{color:#696969;font-size:0.5em}
    </style>

    <div id="alarmtimer"></div>

    <script type="text/javascript">
        function zeroPad(num, places){
            var zero = places - num.toString().length + 1;
            return new Array(+(zero > 0 && zero)).join("0") + num;
        }

        var datetime = new Date("{{ alarm.timestamp.year }}/{{alarm.timestamp.month }}/{{ alarm.timestamp.day }} {{ alarm.timestamp.hour }}:{{ alarm.timestamp.minute }}:{{ alarm.timestamp.second }}").getTime();
        function get_time_diff(){
            var now = new Date().getTime();
            var milisec_diff = Math.abs(now - datetime);
            var minutes = Math.floor(milisec_diff / 1000 / 60);
            var seconds = Math.floor(milisec_diff / 1000) % 60;
            $('#alarmtimer').html(minutes+'<span>m </span>'+zeroPad(seconds,2)+'<span>s</span>');
        }
        setInterval('get_time_diff()', 1000);
    </script>
    {%- endif %}
</div>
