{%- set alarmobject = '' %}
{%- if alarm %}
    {%- set alarmcategory = alarm.key.category %}
    {%- set alarmkey = alarm.key.key %}
    {% if alarm.object %}
        {%- set alarmobject = alarm.object.name %}
    {% endif %}
{%- else %}
    {%- set alarmcategory = '' %}
    {%- set alarmkey = '' %}
{%- endif %}
<div id="alarm_widget">
    <style scoped="scoped">
        div#alarm_widget{position:relative;width:100%;top:0;margin:0;padding:0;}
        div#alarm_widget div.monitor_alarm_key{font-size:2.5em;padding:30px 20px;white-space:nowrap}
    </style>
    <div class="monitor_alarm_key">
        <span id="alarm_key_category">{{ alarmcategory }}{% if alarmcategory!='' %}: {% endif %}</span>
        <span id="alarm_key_key">{{  alarmkey }}</span>
        {%- if alarmbject!="" %}
            <br/><span class="alarm_object">{{ alarmobject }}</span>
            <style scoped="scoped">
                div.monitor_alarm_key{overflow:visible!important;font-size:1.8em!important;}
                .alarm_object{font-weight:bold;z-index:200;}
            </style>
        {%- endif %}
    </div>
</div>

