<script>
    var sum = {{ sum }};
</script>
{%- if sum==0 %}
<div class="rownoentry">
    <p style="text-align:center">{{ _('alarmkeys.nodata') }}</p>
</div>
{%- endif %}
<div>
    {%- for c_key in alarmkeys_count %}
    <div class="row" style="height:26px!important;">
        <a href="#" class="morelink" title="{{ _('alarmkeys.detailtitle') }}" onclick="return details('{{ c_key[2] }}', {{ depid }}, this)" id="morelink_{{ c_key[2] }}"> </a>
        <div style="margin-right:5px;margin-left:15px;">
            <div class="rowcell" style="width:80%;"><b>{{ c_key[0] }}</b></div>
            <div class="rowcell" style="width:20%;text-align:right">{{ c_key[1] }}</div>
        </div>
    </div>
    <div class="details" style="display:none" id="details_{{ c_key[2] }}" data-loaded="0"> </div>
    {%- endfor %}
</div>
