{% extends "admin.html" %}

{% block style %}
    <style>
        .defaultaao{font-style:italic;color:#848484;}
        .autocomplete-suggestions{background-color:#fff;border:1px solid black;overflow:auto;}
        .autocomplete-suggestion{cursor:pointer;}
        .autocomplete-suggestion:hover{background-color: #dddddd;}
    </style>
{% endblock %}

{% block script %}
     <script type="text/javascript" src="/alarmkeys/inc/jquery.autocomplete.min.js"> </script>
{% endblock %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <div style="position:absolute;top:20px;right:20px;">
        <a href="/admin/alarmkeys/{{ depid }}/upload" title="{{ _('alarmkeys.uploadtitle') }}" class="icon"><i class="fa fa-upload"></i></a>
    </div>
    <h2>{{ _('alarmkeys.header.overview') }}</h2>
    <p><small>{{ _('alarmkeys.info') }}</small></p>
    <form method="post" style="padding-bottom:20px;">
        <h4>{{ _('alarmkeys.default') }}</h4>
        <div class="headrow">
        
            <div style="margin-right:50px;margin-left:15px;">
                <div class="headcell" style="width:40%;">{{_('alarmkeys.cars1') }}</div>
                <div class="headcell" style="width:40%;">{{ _('alarmkeys.cars2') }}</div>
                <div class="headcell" style="width:20%;">{{ _('alarmkeys.material') }}</div>
            </div>
            {% if (defaultcars.cars1+defaultcars.cars2+defaultcars.materials)|count==0 %}
            <button class="add" type="submit" name="action" value="adddefault" title="{{ _('alarmkeys.defaultaddtitle') }}"><i class="fa fa-plus fa-lg"></i></button>
            {% endif %}
        </div>
        {% if defaultcars.cars1+defaultcars.cars2+defaultcars.materials==[] %}
        <div class="rownoentry">
            <p style="text-align:center">{{ _('alarmkeys.nodefault') }}</p>
        </div>
        {% endif %}
        {% if (defaultcars.cars1+defaultcars.cars2+defaultcars.materials)|count>0 %}
        <div id="sortable">
            <div class="row">
                <div style="margin-right:70px;margin-left:15px;">
                    <div class="rowcell" style="width:40%;">{{ defaultcars.cars1|join(', ') }}</div>
                    <div class="rowcell" style="width:40%;">{{ defaultcars.cars2|join(', ') }}</div>
                    <div class="rowcell" style="width:20%;">{{ defaultcars.materials|join(', ') }}</div>
                </div>
                <button type="submit" name="action" value="editdefault" title="{{ _('alarmkey.edittitle') }}">
                <i class="fa fa-pencil fa-lg"></i></button>
            </div>
        </div>
        {% endif %}
        
        <p>&nbsp;</p>
        <h4>{{ _('alarmkeys.defined') }}</h4>

        <div class="headrow">
            <div style="margin-right:50px;margin-left:15px;padding-bottom:5px;">
                {{ _('alarmkeys.searchkey') }}: 
                <input type="text" name="searchkey" id="searchkey" style="width:50%;" placeholder="{{ _('alarmkey.searchplaceholder') }}"/>
            </div>
            <div style="margin-right:50px;margin-left:15px;">
                <div class="headcell" style="width:15%;">{{ _('alarmkeys.category') }}</div>
                <div class="headcell" style="width:20%;">{{ _('alarmkeys.key') }}</div>
                <div class="headcell" style="width:20%;">{{ _('alarmkeys.keyinternal') }}</div>
                <div class="headcell" style="width:25%;">{{ _('alarmkeys.cars1') }}</div>
                <div class="headcell" style="width:20%;">{{ _('alarmkeys.cars2') }}</div>
            </div>
            <button class="add" type="submit" name="action" value="addkey" title="{{ _('alarmkeys.addtitle') }}"><i class="fa fa-plus fa-lg"></i></button>
        </div>
        
        {% if sum==0 %}
        <div class="rownoentry">
            <p style="text-align:center">{{ _('alarmkeys.nodata') }}</p>
        </div>
        {% endif %}
        <div id="sortable_">
            {% for c_key in alarmkeys_count %}
            <div class="row" style="height:26px!important;">
                <a href="#" class="morelink" title="{{ _('alarmkeys.detailtitle') }}" onclick="return details('{{ c_key[2] }}', {{ depid }}, this)" id="morelink_{{ c_key[2] }}"> </a>
                <div style="margin-right:5px;margin-left:15px;">
                    <div class="rowcell" style="width:80%;"><b>{{ c_key[0] }}</b></div>
                    <div class="rowcell" style="width:20%;text-align:right">{{ c_key[1] }}</div>
                </div>
            </div>
            <div class="details" style="display:none" id="details_{{ c_key[2] }}" loaded="0"> </div>
            {% endfor %}
        </div>
        
        <div class="headrow">
            <small style="float:right;margin-right:50px">{{ _('alarmkeys.itemscount', count=sum) }}</small><br/>
        </div>
        <input type="hidden" name="form_id" value="admin.alarmkeys.overview"/>
    </form>
{%  endblock %}

{% block script_end %}
    {{ super() }}
    function questionDel(){
        return confirm('{{ _('alarmkeys.delquestion') }}');
    }
    
    function questionDelCars(){
        return confirm('{{ _('alarmkeys.delquestion2') }}');
    }
    
    function details(key, dept, obj){
        if($('#details_'+key).attr('loaded')=='0'){
            $.ajax({ type : "POST", url : "/admin/data/alarmkeys?action=loaddetails&category="+key+"&department="+dept,
                 success: function(details) {
                    $('#details_'+key).html(details);
                    $('#details_'+key).attr('loaded', '1')
                }
            });
        }
        $('#details_'+key).toggle();
        if ($(obj).hasClass('expanded')){
            $(obj).removeClass('expanded');
        }else{
            $(obj).addClass('expanded');
        }
        return false;
    }
    
    $(document).ready(function() {
        // init autocomplete of alarmkeys
        $.ajax({ type : "POST", url : "/admin/data/alarmkeys?action=keyslookup&format=json",
            success: function(keys) {
                var alarmkeysArray = $.map(keys, function (value, key) { return { value: value, data: key }; }),
                alarmkeys = $.map(keys, function (value) { return value; });
                
                $('#searchkey').autocomplete({
                    lookup: alarmkeysArray,
                    onSelect: function(suggestion) {
                         
                        $.ajax({ type : "POST", url : "/admin/data/alarmkeys?action=categorylookup&keyid="+suggestion.data+"&format=json",
                            success: function(data) {
                                $('#morelink_'+data.id).click();
                              }
                        });
                    }
                });
                
                $('input[name=edit_keyid]').change(function() { getKeyCars($(this).val());});
            }
        });
    });
{% endblock %}