{% extends "admin.html" %}

{%  block style %}
    <style>
        .tab-pane{border:1px solid #ddd;border-top-width:0;min-height:300px;padding:10px;}
        .tab-pane h3{margin-top:0!important}
        div.overlayproto{position:absolute;top:0;left:0;right:0;bottom:0;z-index:10;}
        div.overlayproto div.overlayproto_back{width:100%;height:100%;background-color:#fff;opacity: 0.6; -moz-opacity: 0.6; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60);}
        div.overlayproto div.overlay_popup{text-align:center;display:block;position:absolute;top:0;left:0;right:0;bottom:0;width:500px;height:300px;margin:auto;z-index:11}
    </style>
{%  endblock %}

{% block script %}
    <script type="text/javascript" src="/alarmkeys/inc/jquery.form.js"> </script>
{% endblock %}

{%  block subnavigation %}
    {{ subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <h2>{{ _('alarmkeys.upload.headtitle') }}</h2>
    <p>{{ _('alarmkeys.upload.info') }}</p>
    
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#tab0" onclick="$('#myTab li:eq(0) a').tab('show');return false;">{{ _('alarmkeys.upload.uploadfile') }}</a></li>
        <li><a href="#tab1" onclick="$('#myTab li:eq(1) a').tab('show');return false;">{{ _('alarmkeys.upload.result') }}</a></li>
        <li><a href="#tab2" onclick="$('#myTab li:eq(2) a').tab('show');return false;">{{ _('alarmkeys.upload.export') }}</a></li>
    </ul>

    <div class="tab-content" style="position:relative;height:80%;">
        <div class="tab-pane active" id="tab0">
            <h3>{{ _('alarmkeys.upload.step1header') }}</h3>
            <form name="form" id="requestForm" action="/admin/data/alarmkeys?action=upload" method="post" enctype="multipart/form-data">
                <p>
                    <label for="uploadfile">{{ _('alamkeys.upload.filename') }}:</label>
                    <br>
                    <input id="uploadfile" type="file" size="45" name="uploadfile" class="input"/>
                    <input type="hidden" name="filename" id="filename"/>
                </p>
                <p>
                    <input type="hidden" name="department" id="department" value="{{ department }}"/>
                    <button type="submit" value="{{ _('alarmkeys.upload.file') }}"><i class="fa fa-upload"></i> {{ _('alarmkeys.upload.file') }}</button>
                </p>
                <div id="status"> </div>
            </form>
            <div id="sheets"> </div>
            <div id="cols"> </div>
        </div>
        
        <div class="tab-pane" id="tab1">
            <div id="testimport"> </div>
        </div>
        
        <div class="tab-pane" id="tab2">
            <h3>{{ _('alarmkeys.upload.tab3header') }}</h3>
            <p>{{ _('alarmkeys.upload.tab3info') }}</p>
            
            <form id="exportForm" method="post" action="">
                <label><input type="radio" name="export_opt" value="0" checked="checked"/> {{ _('alarmkeys.upload.exportall') }}</label><br/>
                <label><input type="radio" name="export_opt" value="1"/> {{ _('alarmkeys.upload.exportnoown') }}</label><br/>
                <p> </p>
                <button type="button" id="startexport" onclick="getFilename()"><i class="fa fa-download"></i> {{ _('alarmkeys.upload.exportbutton') }}</button>
                <img id="loadingimage" src="/admin/img/loading.gif" style="display:none"/>
            </form>
            <div id="noexportdata" style="display:none;text-align:center;">{{ _('alarmkeys.upload.noexportdata') }}</div>
        </div>
    </div>

    <div style="display:none" id="overlay_proto">
        <div class="overlayproto">
            <div class="overlayproto_back"> </div>
            <div class="overlay_popup">
                <p>{{ _('alarmkeys.upload.importinfo') }}</p>
                <p><img src="/admin/img/loading.gif"/></p>
            </div>
        </div>
    </div>
{% endblock %}

{%  block script_end %}
    {{ super() }}
    $(document).ready(function(){
        var status = $('#status');
        
        $('#requestForm').ajaxForm({
            beforeSubmit: function() {
                if(strEndsWith($('#uploadfile').val(),'.xls') || strEndsWith($('#uploadfile').val(),'.xlsx')){
                    status.empty();
                    $('#cols').html('');
                    $('#testimport').html('');
                    $('#filename').val($('#uploadfile').val().split('\\').pop());
                }else{
                    alert('{{ _('alarmkeys.upload.wrongfiletype') }}');
                    return false;
                }
            },
            complete: function(xhr) {
                status.html(xhr.responseText);
            }
        });
    });
    
    function getFilename(){
        $('#noexportdata').hide();
        $('#loadingimage').show();
        $('#tab3').append($('#overlay_proto').html());

        $.post("/admin/data/alarmkeys", {'action': 'download', 'options': $('input:radio[name=export_opt]:checked').val(),'department': $('#department').val()}, function(filename){
            $('#tab3 > .overlayproto').remove();
            if (filename==''){
                $('#noexportdata').show();
            }else{
                window.location.href = '/admin/data/alarmkeys/download/'+filename;
            }
            $('#loadingimage').hide();
            return false;
        });
    }

    function changeSheet(obj){
        $('#cols').html('');
        if($(obj).val()){
            $.get("/admin/data/alarmkeys", {'action': 'upload_sheet', 'sheetname': $(obj).val(), 'filename': $('#filename').val()}, function(result){
                $('#cols').html(result);
            });
        }
    }
    
    function strEndsWith(str, suffix) {
        return str.match(suffix+"$")==suffix;
    }

{% endblock %}