{% extends "admin.html" %}

{% block script %}
    <script  type="text/javascript">
        $(document).ready(function(){
          $('.simple_color_callback').simpleColor({
            onSelect: function( hex ) {
              $('#colorname').val('#'+hex);
            }
          });
        });
    </script>
{% endblock %}

{% block style %}
    <style>
        .simpleColorChooser{background-color:#ffffff !important;overflow:auto;}
        label{width:99%;}
    </style>
{% endblock %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <script type="text/javascript" src="/streets/inc/jquery.simple-color.js"> </script>
    <h2>{{ _('streets.city.edittitle') }}</h2>
    <p><small>{{ _('streets.city.info') }}</small></p>
    <form method="post" action="" name="editcity">
        <p>
            <label>{{ _('streets.city.name') }}:<br/>
                <input type="text" name="cityname" value="{{ city.name }}" style="width:99%;"/>
            </label>
        </p>
        <p>
            <label>{{ _('streets.city.subname') }}:<br/>
                <textarea name="subcity" style="width:99%;height:50px;">{{ city.subcity }}</textarea>
            </label>
        </p>
        <p>
            <label>{{ _('streets.city.dept') }}:<br/>
                <select name="department" style="width:99%">
                    {% for department in departments %}
                    <option value="{{ department.id }}" {% if department==city.department %}selected="selected"{% endif %}>{{ department.name }}</option>
                    {% endfor %}
                </select>
            </label>
        </p>
        <p>
            <label>{{ _('streets.city.map') }}:<br/>
                <select name="citymap" style="width:99%;">
                    {% for map in maps %}
                    <option value="{{ map.name }}" {% if map.name==city.mapname %}selected="selected"{% endif %}>{{ _(map.name) }}</option>
                    {% endfor %}
                </select>
            </label>
        </p>
        <p>
            <label>{{ _('streets.city.color') }}:<br/>
                <input class='simple_color_callback' name="colorname" id="colorname" value="{{ city.color }}"/>
            </label>
        </p>
        <p>
            <label>{{ _('streets.city.default') }}:<br/>
                <input type="checkbox" name="citydefault" value="1" {% if city.default==1 %}checked="checked"{% endif %}/>
            </label>
        </p>
        <p>
            <label>{{ _('streets.city.osmid') }}:<br/>
                <input type="text" name="osmid" value="{{ city.osmid }}" style="width:150px;"/>
            </label>
        </p>
        <p style="padding-bottom:20px;">
            {{_('streets.city.housenumbers') }}:<br/>
           
            <button type="button" onclick="loadOSMHouseNumbers()"> <i class="fa fa-download fa-hn"></i> {{ _('streets.city.loadhnumbers') }}</button>
            <span id="progressstate" style="display:none;margin-left:10px;"><progress id="progress" value="0" max="100"></progress> <span id="progressstreet"></span>: <span id="progressstreetnumbers"></span> {{  _('streets.city.housenumbersfound') }}</span>
        </p>
        <p>
            <button type="submit" name="action" value="updatecity" class="save"><i class="fa fa-check"></i> {{ _('streets.city.save') }}</button>
            <button type="submit" name="action" value="cancel" class="cancel"><i class="fa fa-times"></i> {{ _('streets.city.cancel') }}</button>
        </p>
        <input type="hidden" name="city_id" value="{{ city.id }}"/>
        <input type="hidden" name="form_id" value="streets.city.edit"/>
    </form>
{% endblock %}

{% block script_end %}
    {{ super() }}

    window.WebSocket=window.WebSocket || window.MozWebSocket || false;
    if(window.WebSocket){
        ws = new WebSocket("ws://"+location.host+"/ws");
        ws.onmessage=function(e){
            d = JSON.parse(e.data);
            if (d.sender=="housenumber.osm" && {{ city.id }}==d.cityid){
                if(d.position[0]!=d.position[1]){
                    $('#progressstate').show();
                    $('#progress').attr('max', d.position[1]).attr('value', d.position[0]);
                    $('#progressstreet').html(d.street);
                    $('#progressstreetnumbers').html(d.hnumbers);
                }else{
                    $('#progressstate').hide();
                }
            }
        }
    }

    function loadOSMHouseNumbers(){
        $('#progressstate').show();
        $.ajax({ type : "POST", url : "/admin/data/streets?action=loadhnumbersfromosm&cityid={{ city.id }}",
            success: function(result) {
                return false;
            }
        });
    }
{% endblock %}
