<div id="streets_widget">
    <style scoped="">
        div#streets_widget{position:relative;height:100%;}
        div#streets_widget #street{margin-left:20px;font-size:3em;}
        div#streets_widget #street2{margin-left:20px;font-size:2em;}
        div#streets_widget #city{position:relative;font-size:2em;margin:40px 0px 2px 20px;}
    </style>
    <div class="street" id="street">
        {% if alarm.street %}
            {{ alarm.street.name }} {{ alarm.get('streetno') }}
        {% endif %}
    </div>
    {% if alarm.get('address2') %}
        <div class="street2" id="street2">
        {{ alarm.get('address2') }}
    </div>
    {% endif %}
    <div id="city">
        {{ alarm.city.name }}
        {% if alarm.street.subcity %}
            - {{  alarm.street.subcity }}
        {% endif %}
    </div>
</div>
