<link rel="stylesheet" href="/streets/inc/leaflet.css" />
<script type="text/javascript" language="javascript" src="/streets/inc/leaflet.js"> </script>
<script type="text/javascript" language="javascript" src="/streets/inc/leaflet.ext.js"> </script>
<style>
    .leaflet-right{display:none}
    .leaflet-control-container{display:none}
    .osm_div{position:absolute;top:0px;left:0px;bottom:0px;right:0px;background-color:black;}
</style>

<div class="osm_div" id="map"> </div>

<script>
    var map = new L.Map('map', {zoom:12, doubleClickZoom:false});
    var startlat = {{ alarm.lat }};
    var startlng = {{ alarm.lng }};
    var startzoom = 18; // {{ alarm.zoom }};
    
    var MyMarker = L.Icon.extend({options:{shadowUrl: '/img/marker-shadow.png', iconAnchor:[12, 41], popupAnchor:[0, -42]}});
    var redmarker = new MyMarker({iconUrl:'/img/marker_red.png'});
    var orangemarker = new MyMarker({iconUrl:'/img/marker_orange.png'});
    var yellowmarker = new MyMarker({iconUrl:'/img/marker_yellow.png'});
    var colorcode = new Array(yellowmarker, orangemarker, redmarker);

    cloudmade = new L.TileLayer('/tileserver/osmap/{z}/{x}/{y}', {minZoom: 12, maxZoom: 18});
    map.setView(new L.LatLng(startlat, startlng), startzoom).addLayer(cloudmade);

    //map.setView(new L.LatLng(startlat, startlng), startzoom);
    if({{ alarm.marker }}==1){
        map.addLayer(new L.Marker(new L.LatLng(startlat, startlng), {icon:colorcode[1],draggable:false}));
    }
</script>