<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Emonitor : Client-Server application with map view">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.path }}stylesheets/stylesheet.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{{ site.path }}/javascripts/process-rel-links.js" type="text/javascript"></script>
    <title>Emonitor</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/seiferta/eMonitor">View on GitHub</a>

          <h1 id="project_title">Emonitor</h1>
          <h2 id="project_tagline">Client-Server application with map view</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/seiferta/eMonitor/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/seiferta/eMonitor/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{content}}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Emonitor maintained by <a href="https://github.com/seiferta">seiferta</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
