{%  extends "admin.html" %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <h2>{{ _('cars.header.edit') }}</h2>
    
    <form method="post" action="">
        <p>
            <label>{{ _('cars.name') }}:<br/>
                <input type="text" name="edit_name" value="{{ car.name }}" style="width:99%" required autofocus/>
            </label>
        </p>
        <p>
            <label>{{ _('cars.description') }}:<br/>
                <input type="text" name="edit_description" value="{{ car.description }}" style="width:99%"/>
            </label>
        </p>
        <p>
            <label>{{ _('cars.dept') }}:<br/>
                <select name="edit_department" style="width:99%" required>
                    {% for department in departments %}
                    <option value="{{ department.id }}" {% if department.id==car.dept.id %}selected="selected"{% endif %}>{{ department.name }}</option>
                    {% endfor %}
                </select>
            </label>
        </p>
        <p>
            <label>{{ _('cars.type') }}:<br/>
                <select name="edit_type" style="width:99%">
                    {% for cartype in cartypes %}
                    <option value="{{ cartype[0] }}" {% if cartype[0]==car.type %}selected="selected"{% endif %}>{{ cartype[0] }}</option>
                    {% endfor %}
                </select>
            </label>
        </p>
        <p>
            <label>{{ _('cars.fms') }}:<br/>
                <input type="text" name="edit_fmsid" value="{{ car.fmsid }}" style="width:99%"/>
           </label>
        </p>
        <p>
            <label>{{ _('cars.active') }}:<br/>
                <input type="checkbox" name="edit_active" value="1" {% if car.active==1 %}checked="checked"{% endif %}/>
            </label>
        </p>
        <p>
            <button type="submit" name="action" value="updatecars" class="save"><i class="fa fa-check"></i> {{ _('cars.save') }}</button>
            <button type="button" class="cancel" onClick="history.go(-1);return true;"><i class="fa fa-times"></i> {{ _('cars.cancel') }}</button>
        </p>
        <input type="hidden" name="car_id" value="{{ car.id }}"/>
        <input type="hidden" name="form_id" value="admin.cars.edit"/>
    </form>
{% endblock %}