.. eMonitor documentation master file, created by
   sphinx-quickstart on Wed Dec 03 17:00:50 2014.
   You can adapt this file completely to your liking, but it should at least
   contain the root `toctree` directive.

eMonitor documentation
======================

.. toctree::
   :maxdepth: 3
   
   /docs/doc_user

.. toctree::
   :maxdepth: 3

   /docs/doc_admin

Indices and tables
==================

* :ref:`genindex`
* :ref:`search`
