
body, html{height:100%;color: #000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; text-align:left; font-size:11px;margin: 0;padding: 0;}
textarea{font-family:Verdana, Arial, Helvetica, sans-serif;}
a, a:visited{color:#B40431;text-decoration:none;}
a:hover{text-decoration:underline;}
label{font-weight: normal!important;width:100%}

div.maincontainer{margin:0;height:100%;background-color:#ddd;}

div.ui-layout-toggler:hover{background-color:#333;}
div.ui-layout-north{background-color: #ddd;width:100%;margin:0;padding:0;border-width:0 !important;overflow:hidden;}
div.ui-layout-north div.header_links{position:absolute;top:15px;right:35px;}
div.ui-layout-north div.header_links a{color:black;}
div.user{position:absolute;right:10px;top:13px;}
div.user a, div.user a img{border-width:0;}
div.user a:hover{text-decoration:none;}
div.user ul { margin:0; padding: 0; list-style: none; cursor: pointer; position: relative; text-align:right;}
div.user ul li { padding: 0.25em 3px 0.3em 15px;}
div.user ul ul { z-index: 200000; display: none; position: absolute; right: 0; bottom: 0; margin: 0 0 1.55em; text-align:right;border:1px solid black;}
div.user .dropdown ul ul { bottom: auto; margin: 1.45em 0 0;}
div.user ul ul li { padding: 0.3em 5px 0.3em 5px;}
div.user ul ul li:hover { background-color: #ababab;}
div.user ul li:hover ul { display: block; background-color: #dedede;z-index: 200000;}
div.content{margin:0;border-width:0 !important;}

div.ui-layout-center{border-right-width:0;}
div.ui-layout-south{width:100%;background-color:#333;position:fixed;bottom:0;left:0;height:15px;border:0 !important;}
div.ui-layout-west{background-color:#ddd !important;float:left;width:200px;height:100%;position:fixed;margin:0 !important;border-left-width:0 !important;padding: 26px 0 0;}
div.ui-layout-west ul{list-style-type:none;padding:0;margin:0;}
div.ui-layout-west li{border-bottom:1px solid #bbb}
div.ui-layout-west a{color:black;text-decoration:none;display:block;padding:10px;text-shadow: 1px 1px 0 #f2f2f2;}
div.ui-layout-west a:hover{font-weight:bolder;text-decoration:none;background-color:#fff;}
div.ui-layout-west a.active{font-weight:bolder;text-decoration:none;background-color:#333;color:#fff;text-shadow: none;}
div.ui-layout-west a.active:hover{background-color:#000;}

div.subnavigation{width:100%;background-color:#ddd;border-width:0 0 1px 0 !important;min-height:23px !important;overflow:hidden;padding:0 !important;}
div.subnavigation a{float:left;padding:6px 20px;display:block;color:#000;border-right:1px solid #bbb;text-transform:uppercase;margin:0;text-shadow: 1px 1px 0 #f2f2f2;}
div.subnavigation a:hover{background-color:#fff;text-decoration:none;color:#000;border-top-color:#fff;}
div.subnavigation a.selected{background-color:#333;color:#fff;border-top-color:#333;text-shadow:none;}
div.subnavigation a.selected:hover{background-color:#000;border-top-color:#000;}

div.subnavigationeast{width:200px;background-color:#ddd/*rgb(171, 171, 171)*/;border-width:0 0 0 1px !important;padding:0 !important;overflow:auto !important}
div.maincontainer div.pane div.ui-layout-resizer-east{border-left:1px solid #bbb}

p button.save, p button.cancel{padding:5px 40px;}
button:disabled {color: #bbb;}
select:required, input:required {border: 1px solid #97070b !important;}
select:required, input:required:valid {border: 1px solid black !important;}

div.headrow{background-color: #ababab;font-weight:bolder;overflow:hidden;padding:10px 4px;}
div.headcell{float:left;}
div.subheadrow{background-color:#F2F2F2;font-weight:bolder;overflow:hidden;padding:4px 4px;border:1px solid silver;border-top-width:0;}
div.subheadcell{float:left;}
div.rowadd{position:relative;overflow:hidden;padding:1px 4px;background-color:#fff;border:1px solid silver;border-top:0;}
div.row{position:relative;overflow:hidden;padding:1px 4px!important;background-color:#fff/;border:1px solid silver;border-top:0;margin:0 !important;}
div.row:hover{background-color: #dedede /*#fff*/;cursor:default;}
div.row .morelink{background:url(/img/more.png) no-repeat 3px transparent;border:0;position:absolute;top:3px;width:20px;height:20px;}
div.row .morelink:hover{background:url(/img/moreover.png) no-repeat 3px transparent;}
div.row .expanded{background:url(/img/details.png) no-repeat 3px transparent;}
div.row .expanded:hover{background:url(/img/details.png) no-repeat 3px transparent;}
div.rowcell{float:left;margin-top:4px;}
div.subrow{position:relative;overflow:hidden;padding:1px 4px;background-color:#fff;border:1px solid silver;border-top:0;}
div.subrow:hover{background-color: #dedede;cursor:default;}
div.subrowcell{float:left;margin-top:4px;}
div.rownoentry{border:1px solid silver;min-height:40px;}
div.row button, div.subrow button{float:right;width:22px;height:22px;padding:1px;margin: 0 0 0 2px}
div.headrow button.add{float:right;width:24px;height:21px;margin:0;padding: 0;}
div.subheadrow button.add{float:right;width:24px;height:21px;margin:0;padding: 0;}
div.rowadd button.save{float:right;width:46px;height:21px;padding:1px; margin: 4px 0 0 2px;}

div.overlay{position:fixed;top:0;left:0;right:0;bottom:0;z-index:3;display:none;}
div.overlay div.overlay_back{width:100%;height:100%;background-color:#000;opacity: 0.5; -moz-opacity: 0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);}
div.overlay div.popup{display:block;position:absolute;width:600px;top:20%;left:50%;margin-left:-300px;border:1px solid silver;background-color:#fff;z-index:4;}
div.popup_close{position:absolute;top:-10px;right:-10px;}
div.popup_close a img{border:0;}

div.version{background:url(/img/logo.png) no-repeat 0 0 transparent;position:absolute;left:2px; bottom:2px;height:30px;padding-left:30px;}
.required{margin-left:5px;color:red;}
.navigation i{color:#aaa;padding-right:5px;}

::-webkit-input-placeholder {color:silver;}
:-moz-placeholder {color:silver; opacity:1;}
::-moz-placeholder {color:silver; opacity:1;}
:-ms-input-placeholder {color:silver;}
