{% extends "admin.html" %}

{% block style %}
    <style>
        label{width:100%;}
        #previewframe{overflow:hidden;border:1px solid silver;width:160px;height:230px;}
        #previewframe body{font-size:10px;position:relative;width:791px;height:742px;-webkit-transform: scale(0.2);-moz-transform: scale(0.2);-ms-transform: scale(0.2);-o-transform: scale(0.2);transform: scale(0.2);}
        table#parameterlist{width:80%;border:1px solid silver;padding:2px;}
        table#parameterlist th, td{width:50%;border:1px solid silver;padding:2px;}
    </style>
{% endblock %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <h2>{{ _('printers.header.edit') }}</h2>
    <form method="post" action="" name="editcity">
        <p>
            <label>{{ _('printers.name') }}:<br/>
                <input type="text" name="printername" value="{{ printer.name }}" style="width:99%;" autofocus required/>
            </label>
        </p>
        <p style="float:left;width:40%;">
            <label style="width:100%">{{ _('printers.module') }}:<br/>
                <select name="template" style="width:100%;" onchange="loadpreview()">
                    {%  for k in templates %}
                        <optgroup label="{{ _('module.'+k) }}">
                        {%  for t in templates[k] %}
                            <option value="{{ k+'.'+t.filename }}"{% if printer.module+printer.layout==k+t.filename %} selected="selected"{% endif %}>{{ _('template.'+t.filename[6:-5]) }}</option>
                        {% endfor %}
                        </optgroup>
                    {%  endfor %}
                </select>
            </label>
            <br/>
            <span id="parameters"></span>
        </p>
        <p style="float: left;width:60%;padding-left:20px;">
            <iframe id="previewframe" scrolling="no" seamless="seamless" frameborder="no"></iframe>
        </p>
        <p style="clear:left">
            <label>{{ _('printers.printer') }}:<br/>
                <select name="printerprinter" style="width:99%;">
                    {% for name in printernames %}
                    <option value="{{ name }}"{% if printer.printer==name %} selected="selected"{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </label>
        </p>
        <p>
            <label>{{ _('printers.pages') }}:<br/>
                <select name="printersettings" style="width:20%;">
                    {% for i in range(1, 6) %}
                    <option value="{{ i }}"{% if printer.settings[0]==i|string %} selected="selected"{% endif %}>{{ i }}</option>
                    {%  endfor %}
                </select>
            </label>
        </p>
        <p>
            <label>{{ _('printers.state') }}:<br/>
                <input type="checkbox" name="printerstate" value="1" {% if printer.state==1 %}checked="checked"{% endif %}/>
            </label>
        </p>
        <p>
            <button type="submit" name="action" value="updateprinter" class="save"><i class="fa fa-check"></i> {{ _('printers.save') }}</button>
            <button type="button" class="cancel" onClick="history.go(-1);return true;"><i class="fa fa-times"></i> {{ _('printers.cancel') }}</button>
        </p>
        <input type="hidden" name="printer_id" value="{{ printer.id }}"/>
        <input type="hidden" name="form_id" value="printer.edit"/>
        <input type="hidden" name="printersettings" style="width:99%;height:100px;" value="{{ printer.settings[1] }}"/>
    </form>
    <script>
        function loadpreview(){
            $.ajax({ type : "POST", url : "/admin/data/printers?action=loadtemplatepreview&template="+$('select[name=template]').val()+'&values='+$('input[name=printersettings]').val()+'&format=json',
                 success: function(result) {
                     $('#previewframe').attr('src', result.url);
                     $('#parameters').html(result.parameters);
                     return false;
                }
            });
        }
        loadpreview();
    </script>
{% endblock %}
