{% extends "admin.html" %}

{% block script %}
    <script>
        function questionDel(){
            return confirm('{{ _('printers.delquestion') }}');
        }
    </script>
{% endblock %}

{%  block subnavigation %}
    {{  subnavigation(current_mod.getAdminSubNavigation()) }}
{%  endblock %}

{% block content %}
    <h2>{{ _('printers.header.overview') }}</h2>
    <p><small>{{ _('printers.info') }}</small></p>
    <form method="post" action="" style="padding-bottom:20px;">
        <div class="headrow">
            <div style="margin-right:70px;margin-left:15px;">
                <div class="headcell" style="width:5%;">{{ _('printers.id') }}</div>
                <div class="headcell" style="width:15%;">{{ _('printers.name') }}</div>
                <div class="headcell" style="width:15%;">{{ _('printers.module') }}</div>
                <div class="headcell" style="width:25%;">{{ _('printers.layout') }}</div>
                <div class="headcell" style="width:30%;">{{ _('printers.printer') }}</div>
                <div class="headcell" style="width:10%;">{{ _('printers.state') }}</div>
            </div>
            <button class="add" type="submit" name="action" value="createprinter" title="{{ _('printer.addtitle') }}"><i class="fa fa-plus fa-lg"></i></button>
        </div>
        
        {% if printers|count==0 %}
        <div class="rownoentry">
            <p style="text-align:center">{{ _('printers.nodata') }}</p>
        </div>
        {% endif %}
        <div id="sortable">
            {% for printer in printers %}
            <div class="row">
                <div style="margin-right:70px;margin-left:15px;">
                    <div class="rowcell" style="width:5%;">{{ printer.id }}</div>
                    <div class="rowcell" style="width:15%;">{{ printer.name }}</div>
                    <div class="rowcell" style="width:15%;">{{ printer.module }}</div>
                    <div class="rowcell" style="width:25%;">{{ _('template.'+printer.layout[6:-5]) }}</div>
                    <div class="rowcell" style="width:30%;">{{ printer.printer }}</div>
                    <div class="rowcell" style="width:10%;">{%  if printer.state == 1 %}<i class="fa fa-check" title="{{ _('printers.activetitle') }}"></i>{% endif %}</div>
                </div>
                <button type="submit" name="action" value="deleteprinters_{{ printer.id }}" title="{{ _('printer.deletetitle') }}" onclick="return questionDel()"><i class="fa fa-trash-o fa-lg"></i></button>
                <button type="submit" name="action" value="editprinters_{{ printer.id }}" title="{{ _('printer.edittitle') }}"><i class="fa fa-pencil fa-lg"></i></button>
            </div>
            {% endfor %}
        </div>
        
        <div class="headrow">
            <small style="float:right;margin-right:50px">{{ _('printers.itemscount', count=printers|count) }}</small><br/>
        </div>
        <input type="hidden" name="form_id" value="admin.printers.overview"/>
    </form>
{% endblock %}